In [1]:
import os
from pathlib import Path
import pandas as pd
from dotenv import load_dotenv
from redcap.project import Project
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats
from tableone import TableOne
from IPython.display import Markdown
from datetime import datetime
import numpy as np
from IPython.display import display
from PIL import Image
from scipy.stats import mannwhitneyu
from scipy.stats import wilcoxon



import warnings
warnings.simplefilter("ignore")

sns.set_theme(style='white')

import sys
sys.path.append("/Users/golpira/Python/University of Calgary/RedCap-API-Git/RedCap_StudyLoader")
from redcap_classes import RedcapProcessor, Record, BloodDraw
from my_functions import my_tableone, analyze_hgb, plot_variables_over_time

In [2]:


### Teg-Hip
load_dotenv()
api_url = os.getenv("REDCAP_URL")
api_key_hip = os.getenv("REDCAP_TEG_HIP_API_KEY")



# Step 1: Initialize processor
processor_1 = RedcapProcessor(api_url, api_key_hip)

# Step 2: Fetch, process, and build Record objects
df_hip= processor_1.fetch_and_process()

Removing the following StudyIDs from dataset:
 - TH-226: Treated non-operatively
310

# IN THE PROCESS OF ADDING FIXATION VS ARTHOPLASTY, NEED TO CHECK Femur, pathway and pelvis

In [3]:
# ### Hip Pathway
load_dotenv()
api_url = os.getenv("REDCAP_URL")
api_key_pathway = os.getenv("REDCAP_HIP_PATHWAY_API_KEY")



processor_2 = RedcapProcessor(api_url, api_key_pathway)
df_pathway= processor_2.fetch_and_process()

Removing the following StudyIDs from dataset:
 - HPA-048: Excluded just to match my numbers to past reports
 - HPA-050: Excluded just to match my numbers to past reports
27

In [4]:
load_dotenv()

### Teg-Femur
api_url = os.getenv("REDCAP_URL")
api_key_femur = os.getenv("REDCAP_TEG_FEMUR_API_KEY")



# Step 1: Initialize processor
processor_3 = RedcapProcessor(api_url, api_key_femur)

# Step 2: Fetch, process, and build Record objects
df_femur= processor_3.fetch_and_process()

131

In [5]:
# processor_1.get_patient_demographics('TH-082')

In [6]:
df_hip_demo=processor_1.get_all_demographics()
df_hip_demo[df_hip_demo['VTE']=='Yes']

,StudyID,Age,Sex,BMI,Injury_date,Admission_date,Surgery_date,AO_OTA,Treatment,DVT,PE,Pre_op_doac,VTE_type,VTE,time_injury_to_surgery_hours
2,TH-003,65,Female,24.417,2018-01-29 14:45:00,2018-01-29 16:18,2018-01-30 15:41:00,31-B3,Arthoplasty,DVT,No,No,DVT,Yes,24.933333
81,TH-082,90,Female,34.335,2019-06-10 13:45:00,2019-06-10 14:29,2019-06-11 14:35:00,31-B3,Arthoplasty,No,PE,No,PE,Yes,24.833333
200,TH-201,71,Female,39.234,2021-10-12 16:00:00,2021-10-12 16:43,2021-10-13 10:50:00,31-B2,Arthoplasty,DVT,No,No,DVT,Yes,18.833333
225,TH-227,71,Male,23.127,2022-06-01 13:27:00,2022-06-01 15:37,2022-06-03 17:04:00,31-B1,Arthoplasty,DVT,No,Yes,DVT,Yes,51.616667
251,TH-253,69,Male,26.468,2023-01-09 11:15:00,2023-01-09 12:32,2023-01-10 19:50:00,31-B1,Fixation,DVT,No,No,DVT,Yes,32.583333
259,TH-261,64,Female,22.803,2023-02-25 13:50:00,2023-02-25 15:14,2023-02-27 11:31:00,31-A3,Fixation,DVT,PE,No,Both,Yes,45.683333
262,TH-264,59,Female,27.426,2023-03-23 12:00:00,2023-03-23 13:15,2023-03-25 12:00:00,31-B3,Arthoplasty,DVT,No,No,DVT,Yes,48.000000
269,TH-271,85,Female,28.373,2023-04-18 14:00:00,2023-04-18 14:49,2023-04-19 10:53:00,31-A3,Fixation,No,PE,No,PE,Yes,20.883333
277,TH-279,69,Male,30.277,2023-06-12 12:00:00,2023-06-12 12:45,2023-06-14 13:12:00,31-B2,Arthoplasty,DVT,PE,No,Both,Yes,49.200000
290,TH-292,73,Female,29.548,2023-09-12 06:30:00,2023-09-12 08:06,2023-09-13 08:20:00,31-A3,Fixation,No,PE,No,PE,Yes,25.833333
299,TH-301,91,Female,15.537,2023-11-29 11:00:00,2023-11-30 07:24,2023-12-01 16:09:00,31-A3,Fixation,DVT,No,No,DVT,Yes,53.150000

In [7]:
df_pathway_demo=processor_2.get_all_demographics()
df_pathway_demo[df_pathway_demo['VTE']=='Yes']

,StudyID,Age,Sex,BMI,Injury_date,Admission_date,Surgery_date,AO_OTA,Treatment,DVT,PE,Pre_op_doac,SVT,VTE_type,VTE,time_injury_to_surgery_hours
16,HPA-028,94,Male,19.8,2024-10-29 14:00:00,2024-10-29,2024-10-30 16:23:00,31-B2,None,No,PE,Yes,NaN,PE,Yes,26.383333

In [8]:
df_femur_demo=processor_3.get_all_demographics()
df_femur_demo[df_femur_demo['VTE']=='Yes']

,StudyID,Age,Sex,BMI,Injury_date,Admission_date,Surgery_date,AO_OTA,Treatment,DVT,PE,Pre_op_doac,VTE_type,VTE,time_injury_to_surgery_hours
20,TF-022,29,Female,36.154,2019-04-02 07:30:00,2019-04-02 09:36,2019-04-07 17:20:00,33-A,None,No,PE,No,PE,Yes,129.833333
65,TF-069,78,Male,18.449,2022-04-10 13:00:00,2022-04-10 14:43,2022-04-11 15:47:00,31-A3,None,DVT,No,No,DVT,Yes,26.783333
69,TF-073,50,Male,27.885,2022-08-05 12:30:00,2022-08-05 17:42,2022-08-06 17:38:00,32-A,None,DVT,No,No,DVT,Yes,29.133333
81,TF-085,22,Male,27.682,2023-07-08 21:00:00,2023-07-08 22:05,2023-07-09 13:17:00,32-C,None,DVT,No,No,DVT,Yes,16.283333
116,TF-120,23,Male,26.03,2024-12-10 10:00:00,2024-12-10 14:45,2024-12-11 08:32:00,32-A,None,DVT,No,No,DVT,Yes,22.533333

In [9]:
load_dotenv()

### Teg-Pelvis
api_url = os.getenv("REDCAP_URL")
api_key_pelvis = os.getenv("REDCAP_TEG_PELVIS_API_KEY")



# Step 1: Initialize processor
processor_4 = RedcapProcessor(api_url, api_key_pelvis)

# Step 2: Fetch, process, and build Record objects
df_pelvis= processor_4.fetch_and_process()

Removing the following StudyIDs from dataset:
 - TPA-019: Multiple Surgery Patient
 - TPA-028: Multiple Surgery Patient
 - TPA-043: Multiple Surgery Patient
 - TPA-048: Multiple Surgery Patient
 - TPA-056: Multiple Surgery Patient
 - TPA-079: Multiple Surgery Patient
 - TPANO-001: Excluded - Non-Operative Arm
 - TPANO-002: Excluded - Non-Operative Arm
 - TPANO-003: Excluded - Non-Operative Arm
 - TPANO-004: Excluded - Non-Operative Arm
 - TPANO-005: Excluded - Non-Operative Arm
 - TPANO-006: Excluded - Non-Operative Arm
 - TPANO-007: Excluded - Non-Operative Arm
 - TPANO-008: Excluded - Non-Operative Arm
 - TPANO-009: Excluded - Non-Operative Arm
 - TPANO-010: Excluded - Non-Operative Arm
 - TPANO-011: Excluded - Non-Operative Arm
 - TPANO-012: Excluded - Non-Operative Arm
96

In [10]:
# print('=========================')
print(processor_4.get_patient_demographics('TPA-001'))

StudyID                                     TPA-001
Age                                              61
Sex                                            Male
BMI                                          24.412
Injury_date                     2020-02-03 15:00:00
Admission_date                     2020-02-04 02:50
Surgery_date                    2020-02-04 14:25:00
AO_OTA                                         62-C
Treatment                                      None
DVT                                             DVT
PE                                               PE
Pre_op_doac                                      No
VTE_type                                       Both
VTE                                             Yes
time_injury_to_surgery_hours              23.416667
dtype: object

In [ ]:
processor_4.get_all_demographics()

,StudyID,Age,Sex,BMI,Injury_date,Admission_date,Surgery_date,AO_OTA,Treatment,DVT,PE,Pre_op_doac,VTE_type,VTE,time_injury_to_surgery_hours
0,TPA-001,61,Male,24.412,2020-02-03 15:00:00,2020-02-04 02:50,2020-02-04 14:25:00,62-C,None,DVT,PE,No,Both,Yes,23.416667
1,TPA-002,47,Male,25.817,2020-02-18 14:00:00,2020-02-18 20:01,2020-02-19 12:51:00,62-A,None,No,No,No,None,No,22.850000
2,TPA-003,17,Male,21.7,2020-02-24 14:30:00,2020-02-24 20:23,2020-02-26 10:40:00,61-B,None,No,No,No,None,No,44.166667
3,TPA-004,19,Male,18.365,2020-03-06 16:00:00,2020-03-06 22:18,2020-03-08 14:00:00,61-B,None,No,No,No,None,No,46.000000
4,TPA-005,54,Male,35.546,2020-03-06 14:00:00,2020-03-08 13:38,2020-03-09 11:07:00,62-A,None,No,No,No,None,No,69.116667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,TPA-098,47,Female,39.843,2025-05-13 05:00:00,2025-05-13 10:42,2025-05-15 13:30:00,62-A,None,No,No,No,None,No,56.500000
92,TPA-099,38,Male,30.557,2025-06-08 11:30:00,2025-06-08 14:03,2025-06-09 16:59:00,61-A,None,No,No,No,None,No,29.483333
93,TPA-100,18,Female,24.169,2025-06-16 23:30:00,2025-06-16 03:02,2025-06-17 10:41:00,61-B,None,DVT,PE,No,Both,Yes,11.183333
94,TPA-101,61,Female,45.073,2025-08-21 10:00:00,2025-08-21 18:00,2025-08-22 17:19:00,None,None,No,No,No,None,No,31.316667
95,TPA-102,64,Male,25.255,2025-09-18 11:00:00,2025-09-18 12:21,2025-09-19 19:35:00,None,None,No,No,No,None,No,32.583333

In [ ]:
df_femur_demo[df_femur_demo['AO_OTA'].isnull()][['StudyID']]

    StudyID
0    TF-002
72   TF-076
73   TF-077
92   TF-096
125  TF-129
126  TF-130
127  TF-131
128  TF-132
129  TF-133
130  TF-134

In [ ]:
# Get demographics for patients
# print(processor_1.get_patient_demographics('TH-227'))
print(processor_4.get_patient_demographics('TPA-002'))

StudyID                                     TPA-002
Age                                              47
Sex                                            Male
BMI                                            None
Injury_date                     2020-02-18 14:00:00
Admission_date                     2020-02-18 20:01
Surgery_date                    2020-02-19 12:51:00
Pre_op_doac                                      No
VTE_type                                       None
time_injury_to_surgery_hours                  22.85
dtype: object

In [ ]:
# Get blood draws for patient TH-002
display(processor_1.get_patient_blood_draws('TH-002'))
display(processor_2.get_patient_blood_draws('HPA-009'))

In [ ]:
# Get all blood draws for all patients

display(processor_1.get_all_blood_draws())
display(processor_2.get_all_blood_draws())

In [ ]:
print(processor_1.get_patient_demographics('TH-244'))

In [ ]:
display(processor_1.get_patient_blood_draws('TH-227'))

In [ ]:
df_demo=pd.concat([df_hip_demo,df_pathway_demo]).reset_index(drop=True)


df_demo_oac = df_demo[df_demo['Pre_op_doac'] == 'Yes']
df_blood_draws = pd.concat([processor_1.get_all_blood_draws(), processor_2.get_all_blood_draws()]).drop_duplicates().reset_index(drop=True)

# ONLY DOAC - Hemoglobin drop

In [ ]:
df_blood_draws_oac = df_blood_draws[df_blood_draws['StudyID'].isin(df_demo_oac['StudyID'])]

In [ ]:
analyze_hgb(df_blood_draws_oac, pod_time="POD1")

In [ ]:
analyze_hgb(df_blood_draws_oac, pod_time="POD3")

In [ ]:
# df_blood_draws[df_blood_draws['Time']=='Week2'].sort_values('StudyID')

In [ ]:
df_blood_draws.head()

In [ ]:
df_blood_draws[df_blood_draws['Time'].isin(['Admission','Pre-Op','PFD1','Pre-Op','PFD2','4 hr Pre-OP','Pre-draw','PFD3','PFD4'])].head(10)

## Created two columns to pick depending on if we want pre-op closest to injury or if we want pre-op closest to surgery

In [ ]:
preop_timepoints = ['Admission','Pre-Op','PFD1','Pre-Op','PFD2','4 hr Pre-OP','Pre-draw','PFD3','PFD4']

# Initialize new columns
df_blood_draws['closest_to_injury'] = 'No'
df_blood_draws['closest_to_surgery'] = 'No'


columns_to_check = ['R_time', 'K_time', 'MA', 'LY30', 'ACT','Alpha_Angle']

for patient_id, group in df_blood_draws.groupby('StudyID'):
    preop_draws = group[group['Time'].isin(preop_timepoints)].copy()
    
    if not preop_draws.empty:
        # Filter out draws where all columns are NaN
        valid_draws = preop_draws.dropna(subset=columns_to_check, how='all')
        
        if not valid_draws.empty:
            # Closest to injury
            closest_idx = valid_draws['time_from_injury_to_draw_hours'].idxmin()
            df_blood_draws.loc[closest_idx, 'closest_to_injury'] = 'Yes'
            
            # Closest to surgery
            farthest_idx = valid_draws['time_from_injury_to_draw_hours'].idxmax()
            df_blood_draws.loc[farthest_idx, 'closest_to_surgery'] = 'Yes'
        else:
            # If all draws are invalid, fallback to first/last pre-op draw
            df_blood_draws.loc[preop_draws.index[0], 'closest_to_injury'] = 'Yes'
            df_blood_draws.loc[preop_draws.index[-1], 'closest_to_surgery'] = 'Yes'
            
# # Loop over each patient
# for patient_id, group in df_blood_draws.groupby('StudyID'):
#     preop_draws = group[group['Time'].isin(preop_timepoints)].copy()
    
#     if not preop_draws.empty:
#         # Closest to injury
#         if preop_draws['time_from_injury_to_draw_hours'].notna().any():
#             closest_idx = preop_draws['time_from_injury_to_draw_hours'].idxmin()
#         elif (preop_draws['Time'] == 'Admission').any():
#             closest_idx = preop_draws[preop_draws['Time'] == 'Admission'].index[0]
#         else:
#             # Fallback: just take the first pre-op draw
#             closest_idx = preop_draws.index[0]
#         df_blood_draws.loc[closest_idx, 'closest_to_injury'] = 'Yes'
        
#         # Closest to surgery (farthest from injury)
#         if preop_draws['time_from_injury_to_draw_hours'].notna().any():
#             farthest_idx = preop_draws['time_from_injury_to_draw_hours'].idxmax()
#         elif (preop_draws['Time'] == 'Admission').any():
#             farthest_idx = preop_draws[preop_draws['Time'] == 'Admission'].index[0]
#         else:
#             # Fallback: just take the last pre-op draw
#             farthest_idx = preop_draws.index[-1]
#         df_blood_draws.loc[farthest_idx, 'closest_to_surgery'] = 'Yes'

# Update 'Time' for closest to injury
df_blood_draws['Time'] = np.where(
    df_blood_draws['closest_to_injury'] == 'Yes',
    'Pre_op',
    df_blood_draws['Time'])

In [ ]:
# df_blood_draws[df_blood_draws['StudyID']=='TH-137']

In [ ]:
df_blood_draws[df_blood_draws['closest_to_injury']=='Yes'].head()

In [ ]:
df_demo=df_demo[df_demo['StudyID']!='HPA-048']
columns = ['Sex', 'Age', 'BMI','VTE_type','VTE']
groupby = 'Pre_op_doac'
categorical = ['Sex','VTE_type','VTE']

nonnormal=['BMI'] 
display(my_tableone(df_demo, cols=columns, cats=categorical, non_norm=nonnormal, group=groupby))

In [ ]:
columns = ['R_time', 'K_time',  'MA', 'LY30', 'ACT','Alpha_Angle'] 
groupby = 'Pre_op_doac'
categorical = []


for timepoint in ['Pre_op','POD1', 'POD3', 'POD5', 'POD7', 'Week2', 'Week4', 'Week6', 'Month3']:
    print(timepoint)
    print('++++++++++++++++++++++++++++++++++++++++++++')
    df=df_blood_draws[df_blood_draws['Time']==timepoint]


    

    nonnormal=[ 'R_time', 'K_time',  'MA', 'LY30', 'ACT','Alpha_Angle'] 
    display(my_tableone(df, cols=columns, cats=categorical, non_norm=nonnormal, group=groupby))

In [ ]:
for col in columns:
    df_blood_draws[col] = pd.to_numeric(df_blood_draws[col], errors='coerce')

    
plot_variables_over_time(df_blood_draws,
                         hue='Pre_op_doac', 
    style='Pre_op_doac',
    palette={'Yes':"#ff3636", 'No':"#030303"},
    
    # var_labels=var_labels,
    xlabel="Timepoints",
)

In [ ]:
df_blood_draws[(df_blood_draws['StudyID']=='TH-190')&(df_blood_draws['Time']=='Pre_op')][['Time','LY30','Pre_op_doac']]

In [ ]:
display(processor_1.get_patient_blood_draws('TH-188')[['Time','LY30']])

In [ ]:
# 0

In [ ]:
# hip_blood[hip_blood['Time'].isin(['Admission','PFD1','PFD2','PFD3','PFD4'])]

In [ ]:



# project = Project(api_url, api_key)

# # Export all records directly (no report needed)
# records_data = project.export_records()  # returns list of dicts

# # Convert to DataFrame
# df = pd.DataFrame(records_data)

# # Convert to DataFrame
# df = pd.DataFrame(records_data)


# # Create Record objects from DataFrame
# record_objects = {}

# for _, row in df.iterrows():  # iterate over DataFrame rows
#     record_id = row['patient_id']  # use correct column name
#     if record_id not in record_objects:
#         record_objects[record_id] = Record(record_id)
    
#     draw_id = row['lab_dt_blood_draw']
#     if pd.notna(draw_id):  # only create BloodDraw if there is a timestamp
#         # Dynamically get lab columns
#         lab_columns = ['lab_rteg_timepoint','lp_hemoglobin', 'lp_creatinine', 'rteg_crt_rvalue', 
#                        'rteg_crt_ktime', 'rteg_crt_aangle', 'rteg_crt_ma',
#                        'rteg_crt_ly30', 'rteg_crt_tegact']
#         lab_data = {col: row[col] for col in lab_columns if pd.notna(row[col])}

#         blood_draw = BloodDraw(draw_id=draw_id, **lab_data)
#         record_objects[record_id].add_blood_draw(blood_draw)

# # ### Hip Pathway
# # load_dotenv()

# # # Retrieve environment variables
# # api_key = os.getenv("REDCAP_HIP_PATHWAY_API_KEY")
# # api_url = os.getenv("REDCAP_URL")

# # project = Project(api_url, api_key)

# # df2 = project.export_report(report_id="16762",format_type="df", raw_or_label='label',df_kwargs={"index_col": None}).reset_index(drop=True)

In [ ]:
# df1_std = loader.prepare_dataframe(df1, add_med=True, add_vte=True)
# df2_std = loader.prepare_dataframe(df2, add_med=True, add_vte=True)

# # Merge
# merged_df = pd.concat([df1_std, df2_std], ignore_index=True)

In [ ]:
print('Total Number:', df.StudyID.nunique())

In [ ]:
merged_df['StudyID'].nunique()

## Finding StudyIDs that do not have value at "Admission"

In [ ]:
# Find all StudyIDs with Admission
with_admission = merged_df.loc[merged_df['Time'] == 'Admission', 'StudyID'].unique()

# Find all StudyIDs
all_ids = merged_df['StudyID'].unique()

# Get the ones without Admission
without_admission = list(set(all_ids) - set(with_admission))

print(without_admission)


'''These patients withdrew and not much data available and should be excluded.'''

In [ ]:
# merged_df= merged_df[merged_df['Time']!='nan'].copy()
merged_df = merged_df[merged_df['Time'].notna()].copy()

In [ ]:
merged_df['VTE'].value_counts(dropna=False)

## Asked Casandra to fix these duplicates

In [ ]:
df_ = merged_df[merged_df['Time']=='Admission']
df_[df_['StudyID'].duplicated(keep=False)][['StudyID','Hemoglobin','R_time',	'K_time',	'Alpha_Angle',	'MA',	'LY30',	'ACT','Draw_date','Time']]

In [ ]:
df_ = merged_df[merged_df['Time']=='POD5']
df_[df_['StudyID'].duplicated(keep=False)][['StudyID','Hemoglobin','R_time',	'K_time',	'Alpha_Angle',	'MA',	'LY30',	'ACT','Draw_date','Time']]

In [ ]:
df_ = merged_df[merged_df['Time']=='Week2']
df_[df_['StudyID'].duplicated(keep=False)][['StudyID','Hemoglobin','R_time',	'K_time',	'Alpha_Angle',	'MA',	'LY30',	'ACT','Draw_date','Time']]

In [ ]:
relevant_timepoints = ['Admission','Pre-Op','Pre-draw','PFD1','PFD2','PFD3','PFD4','4 hr Pre-OP']

hgb_drop_df = loader.compute_hb_drop(merged_df, relevant_timepoints=relevant_timepoints, timepoint_end='POD1')
display(hgb_drop_df.head())
print(len(hgb_drop_df))

print('These werent included in original file I gave to Prism:')
'''["TH-025","TH-033","TH-095","TH-156","TH-157","TH-175","TH-183","TH-196","TH-197","TH-199","TH-218","TH-230","TH-238","TH-263"]'''

In [ ]:
# Just looking at some of the values
merged_df[merged_df['StudyID']=='TH-095'][['StudyID','Time','hours_from_injury_to_bloodDraw','Hemoglobin','blood_draw_label','VTE']]

In [ ]:
columns = ['Age', 'Sex', 'BMI','VTE']
categorical = ['Sex','VTE']
nonnormal=['BMI']

subset_df = merged_df[(merged_df['Time'] == 'Admission')]
subset_df=subset_df.drop_duplicates(subset=['StudyID','Time'], keep='first')
  
subset_df
table1 = TableOne(
    subset_df,
    columns=columns,
    groupby='DOAC_status',
    categorical=categorical,
    nonnormal=nonnormal,
    normal_test=True
)


table1

In [ ]:
display(tb.table1(hgb_drop_df, columns=['Hb_Drop'],group='DOAC_status', nonnormal=[],categorical=[]))

plt.figure(figsize=(8,6))
sns.boxplot(x='DOAC_status', y='Hb_Drop', data=hgb_drop_df, palette='Set2')

# Overlay individual points
sns.stripplot(x='DOAC_status', y='Hb_Drop', data=hgb_drop_df, color='black', alpha=0.6, jitter=False)

# Labels
plt.title('Hemoglobin Drop: OAC vs Non-OAC')
plt.ylabel('Hemoglobin Drop (g/L)')
plt.xlabel('DOAC_status Group')
plt.grid(axis='y', linestyle='--', alpha=0.5)

# Only OACs

In [ ]:
hgb_drop_OAC = hgb_drop_df[hgb_drop_df['DOAC_status']=='OAC'].dropna(subset=['Hb_Drop'])

In [ ]:
hgb_drop_OAC['delta_Hgb'] = hgb_drop_OAC['POD1_Hgb'] - hgb_drop_OAC['first_draw_Hgb']
stat, p_val = wilcoxon(hgb_drop_OAC['first_draw_Hgb'], hgb_drop_OAC['POD1_Hgb'])
median_diff = hgb_drop_OAC['delta_Hgb'].median()


np.random.seed(200)
boot_medians = [
    np.median(np.random.choice(hgb_drop_OAC['delta_Hgb'], size=len(hgb_drop_OAC), replace=True))
    for _ in range(5000)
]
ci_lower, ci_upper = np.percentile(boot_medians, [2.5, 97.5])

# Put results in a DataFrame
results_df = pd.DataFrame({
    'Wilcoxon W': [stat],
    'p-value': [p_val],
    'Median Difference (POD1 - First)': [median_diff],
    '95% CI Lower': [ci_lower],
    '95% CI Upper': [ci_upper]
})

display(results_df)



df_long = hgb_drop_OAC.melt(value_vars=['first_draw_Hgb', 'POD1_Hgb'],
                       var_name='Timepoint', value_name='Hemoglobin')

# Set Seaborn style
sns.set_theme(style="whitegrid", font_scale=1.2)
custom_palette = ['#5DADE2', "#E4E73C"]  # Blue and red


plt.figure(figsize=(7, 5))
ax = sns.boxplot(
    data=df_long,
    x='Timepoint',
    y='Hemoglobin',
    palette=custom_palette,
    width=0.5,
    linewidth=1.5,
    fliersize=0
)
# Titles and labels
plt.title('Hemoglobin: First vs POD1', fontsize=14)
plt.ylabel('Hemoglobin (g/L)')
plt.xlabel('')
plt.tight_layout()

In [ ]:

merged_df['VTE']=np.where(merged_df['VTE'].isin(['PE','DVT','Both']), 'VTE','No VTE')
custom_order = ['Admission', 'POD1', 'POD3', 'POD5', 'Week2', 'Week4', 'Week6', 'Month3']
custom_palette = {'VTE': "#EE6F20", 'No VTE': 'black'}
variables = ['MA','R_time']

loader.plot_variables_over_time(df=merged_df, variables=variables,
                                custom_order=custom_order, 
                                hue='VTE', style='VTE',
                                custom_palette=custom_palette,
                                save_folder="plots")

In [ ]:
conditions = [
    (merged_df['Time'].isin(['Admission','PFD 1','PFD 2','Pre-draw','4 hr Pre-OP '])) & (merged_df['hours_from_injury_to_bloodDraw'] >= 0) & (merged_df['hours_from_injury_to_bloodDraw'] <= 24),
    (merged_df['Time'].isin(['Admission','PFD 1','PFD 2','Pre-draw','4 hr Pre-OP '])) & (merged_df['hours_from_injury_to_bloodDraw'] > 24) & (merged_df['hours_from_injury_to_bloodDraw'] <= 48),
    (merged_df['Time'].isin(['Admission','PFD 1','PFD 2','Pre-draw','4 hr Pre-OP '])) & (merged_df['hours_from_injury_to_bloodDraw'] > 48) & (merged_df['hours_from_injury_to_bloodDraw'] <= 72),



    (merged_df['Time'].isin(['POD 1','POD 3','POD 5','POD 7','2 week','4 week','6 week']) & (merged_df['hours_from_injury_to_bloodDraw'] >= 0) & (merged_df['hours_from_injury_to_bloodDraw'] <= 30)),
    (merged_df['Time'].isin(['POD 1','POD 3','POD 5','POD 7','2 week','4 week','6 week']) & (merged_df['hours_from_injury_to_bloodDraw'] > 48) & (merged_df['hours_from_injury_to_bloodDraw'] <= 78))
]

# Define corresponding labels
labels = [
    '0-24h post_injury',
    '25-48h post_injury',
    '49-72h post_injury',
    'POD1',
    'POD3'
]

# Apply classification
merged_df['time_classifications'] = np.select(conditions, labels, default='')