In [1]:
import os
import pandas as pd
from dotenv import load_dotenv
from redcap.project import Project
import numpy as np
import warnings
warnings.simplefilter("ignore")
from IPython.display import display, HTML
import sys
sys.path.append("/Users/golpira/Python/University of Calgary/RedCap-API-Git/RedCap_StudyLoader")
from redcap_classes_V2 import RedcapProcessor #, Record, BloodDraw
from my_functions import display_summary_tables,display_value_counts_per_study, my_tableone, analyze_hgb, plot_variables_over_time, hemoglobin_prior_to_first_rbc

### Teg-Hip
load_dotenv()
api_url = os.getenv("REDCAP_URL")
api_key_hip = os.getenv("REDCAP_TEG_HIP_API_KEY")

p1 = RedcapProcessor(api_url, api_key_hip)
df_hip_original = p1.fetch_and_process()

df_hip_demo=p1.get_all_demographics()
df_hip_lab, df_hip_teg = p1.get_all_labs()

- Data Fetched
- Columns renamed
************************************************************************************
Removing the following StudyIDs from dataset:
 - TH-226: Treated non-operatively
************************************************************************************
- Selected Eligible → enrolled patinets in Hip_Pathway Study
- Flagged patients with VTE
- Added VTE_timepoints
- Processed comorbidities and complications
- Processed timepoints
- Cleaned injury/surgery dates
- Cleaned teg and lab date/time
- Cleaned AO_OTA classification --> NEED AHDMED'S INPUT
- Added pre-operative medications
- Added UTI complications
- Flagged patients' death/Withdrawal status
- Processed fixation/arthoplasty designations
- Processed blood transfusions
- Processed CAS scores
- Removed analysis after VTE event
Records Successfully Built!
************************************************************************************
This study has 310 patients

# Hemoglonin value prior to first blood transfusion (THIS MAY NOT WORK FOR PELVIS _ THERE IS NO RBC_DATE IN PELVIS)

In [2]:
hemoglobin_prior_to_first_rbc(df_hip_lab)

,StudyID,first_rbc_time,time_injury_lab_hours,Hemoglobin_prior_to_first_transfusion,blood_date,Draw_date_lab,blood_rbc
0,TH-009,50.500000,45.666667,75,None,2018-07-08 19:10:00,0.0
1,TH-011,137.333333,100.000000,97,None,2018-07-23 10:40:00,0.0
2,TH-014,62.000000,48.000000,87,None,2018-07-31 10:00:00,0.0
3,TH-015,133.000000,6.000000,121,None,2018-07-30 17:00:00,0.0
4,TH-017,52.000000,47.000000,79,None,2018-08-07 19:00:00,0.0
5,TH-019,31.000000,9.000000,122,None,2018-08-18 02:00:00,0.0
6,TH-038,33.000000,-15.000000,103,None,2018-10-09 00:00:00,0.0
7,TH-039,60.500000,52.000000,103,None,2018-10-14 15:30:00,0.0
8,TH-057,62.250000,48.666667,77,None,2019-01-17 10:25:00,0.0
9,TH-061,61.000000,47.116667,72,None,2019-01-23 10:07:00,0.0
10,TH-062,50.750000,46.750000,85,None,2019-01-28 20:00:00,0.0
11,TH-066,55.000000,46.583333,94,None,2019-02-18 15:35:00,0.0
12,TH-067,-6.000000,NaN,NaN,NaN,NaT,NaN
13,TH-071,35.500000,6.500000,103,None,2019-03-24 19:00:00,0.0
14,TH-072,91.000000,75.616667,97,None,2019-04-08 08:37:00,0.0
15,TH-076,31.750000,5.000000,110,None,2019-04-21 21:15:00,0.0
16,TH-078,64.250000,48.416667,80,None,2019-05-09 08:10:00,0.0
17,TH-079,31.866667,19.633333,99,None,2019-05-10 11:46:00,0.0
18,TH-081,86.500000,75.116667,81,None,2019-06-12 12:37:00,0.0
19,TH-082,34.250000,21.866667,96,None,2019-06-11 11:37:00,0.0
20,TH-084,61.000000,54.000000,94,None,2019-07-07 17:00:00,0.0
21,TH-085,57.000000,52.116667,87,None,2019-07-07 19:07:00,0.0
22,TH-102,39.500000,7.100000,131,None,2019-09-16 15:36:00,0.0
23,TH-104,79.500000,65.900000,76,None,2019-09-30 10:24:00,0.0
24,TH-108,374.500000,146.550000,72,None,2019-10-13 12:03:00,0.0
25,TH-117,24.000000,19.333333,114,None,2019-10-27 19:20:00,0.0
26,TH-118,39.000000,27.300000,134,None,2019-10-29 12:18:00,0.0
27,TH-121,36.000000,26.300000,91,None,2019-11-12 14:18:00,0.0
28,TH-132,32.500000,22.300000,97,None,2020-07-03 13:48:00,0.0
29,TH-137,57.000000,22.083333,108,None,2020-08-11 13:05:00,0.0
30,TH-141,85.000000,23.833333,135,None,2020-09-02 10:50:00,0.0
31,TH-146,82.083333,43.216667,75,None,2020-10-24 09:08:00,0.0
32,TH-169,127.000000,111.066667,71,None,2021-07-02 08:04:00,0.0
33,TH-174,77.750000,39.300000,72,None,2021-07-08 09:33:00,0.0
34,TH-180,68.000000,49.366667,100,None,2021-08-05 05:22:00,0.0
35,TH-183,35.000000,NaN,NaN,NaN,NaT,NaN
36,TH-185,-17.666667,NaN,NaN,NaN,NaT,NaN
37,TH-198,31.333333,-16.666667,112,None,2021-10-03 00:00:00,0.0
38,TH-208,56.000000,39.000000,76,None,2021-12-10 07:00:00,0.0
39,TH-213,47.000000,31.416667,105,None,2022-02-28 08:25:00,0.0
40,TH-219,105.000000,63.833333,84,None,2022-05-17 06:50:00,0.0
41,TH-222,27.000000,15.133333,125,None,2022-05-24 12:08:00,0.0
42,TH-230,34.000000,18.000000,122,None,2022-06-21 08:00:00,0.0
43,TH-255,131.500000,114.500000,71,None,2023-01-27 07:00:00,0.0
44,TH-258,37.500000,13.500000,83,None,2023-02-07 00:00:00,0.0
45,TH-262,132.500000,67.500000,90,None,2023-03-03 07:00:00,0.0
46,TH-263,248.000000,200.000000,61,None,2023-03-08 00:00:00,0.0
47,TH-271,154.000000,41.000000,85,None,2023-04-20 07:00:00,0.0
48,TH-275,52.000000,28.000000,53,None,2023-05-21 00:00:00,0.0
49,TH-280,100.750000,59.750000,85,None,2023-06-28 07:00:00,0.0
50,TH-301,109.000000,69.000000,91,None,2023-12-02 08:00:00,0.0
51,TH-303,343.000000,133.733333,78,None,2023-12-07 06:44:00,0.0
52,TH-309,39.000000,23.366667,101,None,2024-01-07 08:22:00,0.0

In [3]:
import os
import pandas as pd
from dotenv import load_dotenv
from redcap.project import Project
import numpy as np
import warnings
warnings.simplefilter("ignore")
import sys
sys.path.append("/Users/golpira/Python/University of Calgary/RedCap-API-Git/RedCap_StudyLoader")
from redcap_classes_V2 import RedcapProcessor #, Record, BloodDraw
from my_functions import display_summary_tables,display_value_counts_per_study, my_tableone, analyze_hgb, plot_variables_over_time, hemoglobin_prior_to_first_rbc

# ### Hip Pathway
load_dotenv()
api_url = os.getenv("REDCAP_URL")
api_key_pathway = os.getenv("REDCAP_HIP_PATHWAY_API_KEY")

p2 = RedcapProcessor(api_url, api_key_pathway)


df_pathway_original = p2.fetch_and_process()
df_pathway_demo=p2.get_all_demographics()
df_pathway_lab, df_pathway_teg = p2.get_all_labs()

- Data Fetched
- Columns renamed
- Selected Eligible → enrolled patinets in Hip_Pathway Study
- Flagged patients with VTE
- Added VTE_timepoints
- Processed comorbidities and complications
- Processed timepoints
- Cleaned injury/surgery dates
- Cleaned teg and lab date/time
- Cleaned AO_OTA classification --> NEED AHDMED'S INPUT
- Added pre-operative medications
- Added UTI complications
- Flagged patients' death/Withdrawal status
- Processed fixation/arthoplasty designations
- Processed blood transfusions
- Processed CAS scores
- Removed analysis after VTE event
Records Successfully Built!
************************************************************************************
This study has 43 patients

In [4]:
df_pathway_lab[(df_pathway_lab['blood_rbc_yn']=='Yes')&(df_pathway_lab['StudyID']=='HPA-014')].sort_values(by=['time_injury_lab_hours','blood_date'])

,StudyID,Study,Time,VTE_type,VTE,VTE_time,Pre_op_med,Draw_date_lab,time_injury_lab_hours,time_surgery_lab_hours,time_injury_rbc_hours,blood_rbc_yn,blood_rbc,blood_date,rbc_timepoint,Hemoglobin,Creatinine
39,HPA-014,Pathway,Admission,NaN,No,NaN,DOAC,2024-07-02 09:07:00,20.616667,-4.283333,NaN,Yes,0.0,NaN,NaN,104,65
32,HPA-014,Pathway,POD1,NaN,No,NaN,DOAC,2024-07-03 07:03:00,42.550000,17.650000,NaN,Yes,0.0,NaN,NaN,84,NaN
35,HPA-014,Pathway,POD3,NaN,No,NaN,DOAC,2024-07-05 07:00:00,90.500000,65.600000,NaN,Yes,0.0,NaN,NaN,69,NaN
34,HPA-014,Pathway,POD5,NaN,No,NaN,DOAC,2024-07-07 07:00:00,138.500000,113.600000,NaN,Yes,0.0,NaN,NaN,99,35
31,HPA-014,Pathway,POD7,NaN,No,NaN,DOAC,2024-07-09 06:18:00,185.800000,160.900000,NaN,Yes,0.0,NaN,NaN,101,52
36,HPA-014,Pathway,Week2,NaN,No,NaN,DOAC,2024-07-16 07:00:00,354.500000,329.600000,NaN,Yes,0.0,NaN,NaN,81,NaN
38,HPA-014,Pathway,Week4,NaN,No,NaN,DOAC,2024-07-29 07:00:00,666.500000,641.600000,NaN,Yes,0.0,NaN,NaN,87,NaN
37,HPA-014,Pathway,Week6,NaN,No,NaN,DOAC,2024-08-09 07:00:00,930.500000,905.600000,NaN,Yes,0.0,NaN,NaN,111,34
40,HPA-014,Pathway,Admission,NaN,No,NaN,DOAC,NaT,NaN,NaN,-12.5,Yes,4.0,2024-07-01,Admission/Baseline,NaN,NaN
33,HPA-014,Pathway,Post_Op,NaN,No,NaN,DOAC,NaT,NaN,NaN,83.5,Yes,1.0,2024-07-05,POD 3,NaN,NaN

# hemoglobin_prior_to_first_rbc

In [5]:
hemoglobin_prior_to_first_rbc(df_pathway_lab)

,StudyID,first_rbc_time,time_injury_lab_hours,Hemoglobin_prior_to_first_transfusion,blood_date,Draw_date_lab,blood_rbc
0,HPA-008,53.40,2.083333,113,None,2024-03-19 20:41:00,0.0
1,HPA-014,-12.50,NaN,NaN,NaN,NaT,NaN
2,HPA-026,40.00,2.050000,93,None,2024-10-20 10:03:00,0.0
3,HPA-028,82.00,41.000000,95,None,2024-10-31 07:00:00,0.0
4,HPA-035,31.25,15.250000,117,None,2024-12-16 08:00:00,0.0
5,HPA-050,64.75,21.300000,98,None,2025-10-04 04:33:00,0.0
6,HPA-055,85.25,69.050000,79,None,2025-12-20 07:48:00,0.0
7,HPA-059,60.50,5.683333,103,None,2026-01-08 17:11:00,0.0
8,THB-HPA-025,20.00,12.433333,108,None,2026-02-23 16:26:00,0.0

In [6]:
import os
import pandas as pd
from dotenv import load_dotenv
from redcap.project import Project
import numpy as np
import warnings
warnings.simplefilter("ignore")
import sys
sys.path.append("/Users/golpira/Python/University of Calgary/RedCap-API-Git/RedCap_StudyLoader")
from redcap_classes_V2 import RedcapProcessor #, Record, BloodDraw
from my_functions import display_summary_tables,display_value_counts_per_study, my_tableone, analyze_hgb, plot_variables_over_time, hemoglobin_prior_to_first_rbc

load_dotenv()

### Teg-Femur
api_url = os.getenv("REDCAP_URL")
api_key_femur = os.getenv("REDCAP_TEG_FEMUR_API_KEY")

p3 = RedcapProcessor(api_url, api_key_femur)



df_femur_original = p3.fetch_and_process()
df_femur_demo=p3.get_all_demographics()
df_femur_lab, df_femur_teg = p3.get_all_labs()

- Data Fetched
- Columns renamed
************************************************************************************
Removing the following StudyIDs from dataset:
 - TF-070: Multiple Surgery Patient_bilateral femur fracture
 - TF-084: Multiple Surgery Patient_bilateral femur fracture
 - TF-115: Multiple Surgery Patient_bilateral femur fracture
************************************************************************************
- Selected Eligible → enrolled patinets in Hip_Pathway Study
- Flagged patients with VTE
- Added VTE_timepoints
- Processed comorbidities and complications
- Processed timepoints
- Cleaned injury/surgery dates
- Cleaned teg and lab date/time
- Cleaned AO_OTA classification --> NEED AHDMED'S INPUT
- Added pre-operative medications
- Added UTI complications
- Flagged patients' death/Withdrawal status
- Processed fixation/arthoplasty designations
- Processed blood transfusions
- Processed CAS scores
- Removed analysis after VTE event
Records Successfully Built!
************************************************************************************
This study has 134 patients

<div style='background:#8BD6CD; padding:15px; border-radius:0px;'>
    <span style='color:#d50000; font-size:40px; font-weight:bold;'>✖</span>
    <span style='color:#d50000; font-size:24px; font-weight:bold;'> Errors:</span>
    <div style='margin-top:10px; font-size:16px; color:#000000;'>
        - TH-171 is duplicated on POD 5.
    </div>
</div>

In [7]:
hemoglobin_prior_to_first_rbc(df_femur_lab)

,StudyID,first_rbc_time,time_injury_lab_hours,Hemoglobin_prior_to_first_transfusion,blood_date,Draw_date_lab,blood_rbc
0,TF-010,65.000000,53.950000,77,None,2018-08-12 12:57:00,0.0
1,TF-012,102.000000,40.616667,89,None,2018-09-14 10:37:00,0.0
2,TF-014,40.666667,3.650000,151,None,2018-10-09 10:59:00,0.0
3,TF-015,8.750000,NaN,NaN,NaN,NaT,NaN
4,TF-020,61.000000,NaN,NaN,NaN,NaT,NaN
5,TF-022,-7.500000,NaN,NaN,NaN,NaT,NaN
6,TF-023,5.000000,NaN,NaN,NaN,NaT,NaN
7,TF-024,-6.500000,NaN,NaN,NaN,NaT,NaN
8,TF-031,148.000000,NaN,NaN,NaN,NaT,NaN
9,TF-033,-11.333333,NaN,NaN,NaN,NaT,NaN
10,TF-037,48.000000,34.000000,144,None,2020-06-23 10:00:00,0.0
11,TF-039,58.000000,43.233333,75,None,2020-08-15 09:14:00,0.0
12,TF-042,64.500000,NaN,NaN,NaN,NaT,NaN
13,TF-043,-16.500000,NaN,NaN,NaN,NaT,NaN
14,TF-046,83.500000,NaN,NaN,NaN,NaT,NaN
15,TF-047,12.000000,NaN,NaN,NaN,NaT,NaN
16,TF-049,56.000000,41.933333,75,None,2021-01-20 09:56:00,0.0
17,TF-052,36.000000,23.883333,139,None,2021-04-13 11:53:00,0.0
18,TF-055,-6.000000,NaN,NaN,NaN,NaT,NaN
19,TF-056,60.000000,20.366667,115,None,2021-06-23 08:22:00,0.0
20,TF-058,1.000000,NaN,NaN,NaN,NaT,NaN
21,TF-059,36.000000,23.750000,84,None,2021-07-24 11:45:00,0.0
22,TF-060,56.500000,NaN,NaN,NaN,NaT,NaN
23,TF-063,3.000000,NaN,NaN,NaN,NaT,NaN
24,TF-064,61.000000,45.216667,66,None,2021-11-02 08:13:00,0.0
25,TF-071,34.000000,19.750000,76,None,2022-06-21 09:45:00,0.0
26,TF-072,29.000000,14.816667,100,None,2022-06-21 09:49:00,0.0
27,TF-074,132.000000,115.783333,80,None,2022-08-12 07:47:00,0.0
28,TF-075,35.500000,20.633333,126,None,2022-08-29 09:08:00,0.0
29,TF-078,9.500000,NaN,NaN,NaN,NaT,NaN
30,TF-089,35.000000,19.616667,112,None,2023-08-28 08:37:00,0.0
31,TF-092,10.000000,NaN,NaN,NaN,NaT,NaN
32,TF-093,53.750000,38.366667,74,None,2023-12-01 08:37:00,0.0
33,TF-095,37.000000,21.333333,144,None,2023-12-13 08:20:00,0.0
34,TF-096,-18.000000,NaN,NaN,NaN,NaT,NaN
35,TF-109,0.500000,NaN,NaN,NaN,NaT,NaN
36,TF-112,8.000000,NaN,NaN,NaN,NaT,NaN
37,TF-114,109.500000,95.466667,71,None,2024-08-29 09:58:00,0.0
38,TF-117,-18.000000,NaN,NaN,NaN,NaT,NaN
39,TF-123,154.166667,90.800000,81,None,2025-02-22 08:38:00,0.0
40,TF-125,32.500000,18.050000,114,None,2025-02-24 09:33:00,0.0
41,TF-126,77.000000,36.800000,82,None,2025-06-11 07:48:00,0.0
42,TF-130,7.000000,NaN,NaN,NaN,NaT,NaN
43,TF-132,58.000000,42.300000,81,None,2025-09-06 08:18:00,0.0
44,TF-133,34.000000,18.466667,162,None,2025-10-01 08:28:00,0.0
45,TF-136,36.750000,22.050000,120,None,2025-11-19 09:18:00,0.0
46,TF-137,39.250000,24.950000,138,None,2025-11-21 09:42:00,0.0

In [8]:
import os
import pandas as pd
from dotenv import load_dotenv
from redcap.project import Project
import numpy as np
import warnings
warnings.simplefilter("ignore")
import sys
sys.path.append("/Users/golpira/Python/University of Calgary/RedCap-API-Git/RedCap_StudyLoader")
from redcap_classes_V2 import RedcapProcessor #, Record, BloodDraw
from my_functions import display_summary_tables,display_value_counts_per_study, my_tableone, analyze_hgb, plot_variables_over_time, hemoglobin_prior_to_first_rbc
load_dotenv()

### Teg-Pelvis
api_url = os.getenv("REDCAP_URL")
api_key_pelvis = os.getenv("REDCAP_TEG_PELVIS_API_KEY")

p4 = RedcapProcessor(api_url, api_key_pelvis)

df_pelvis_original = p4.fetch_and_process()
df_pelvis_demo=p4.get_all_demographics()
df_pelvis_lab, df_pelvis_teg = p4.get_all_labs()

- Data Fetched
- Columns renamed
************************************************************************************
Removing the following StudyIDs from dataset:
 - TPA-019: Two stage surgeries related to pelvis/acetabulum - 30 April 2021
 - TPA-028: Two stage surgeries related to pelvis/acetabulum - 6th and 11th April 2021
 - TPA-035: Multiple Surgery Patient: both pelvic and femur surgery on October 19, and another pelvic surgery on October 26, 2021
 - TPA-043: Two stage surgeries related to pelvis/acetabulum - 4th and 6th April 2022
 - TPA-048: Two stage surgeries related to pelvis/acetabulum - 6th and 10th May 2022
 - TPA-079: Two stage surgeries related to pelvis/acetabulum - 6th and 12th Feb 2024
 - TPANO-001: Excluded - Non-Operative Arm
 - TPANO-002: Excluded - Non-Operative Arm
 - TPANO-003: Excluded - Non-Operative Arm
 - TPANO-004: Excluded - Non-Operative Arm
 - TPANO-005: Excluded - Non-Operative Arm
 - TPANO-006: Excluded - Non-Operative Arm
 - TPANO-007: Excluded - Non-Operative Arm
 - TPANO-008: Excluded - Non-Operative Arm
 - TPANO-009: Excluded - Non-Operative Arm
 - TPANO-010: Excluded - Non-Operative Arm
 - TPANO-011: Excluded - Non-Operative Arm
 - TPANO-012: Excluded - Non-Operative Arm
************************************************************************************
- Selected Eligible → enrolled patinets in Hip_Pathway Study
- Flagged patients with VTE
- Added VTE_timepoints
- Processed comorbidities and complications
- Processed timepoints
- Cleaned injury/surgery dates
- Cleaned teg and lab date/time
- Cleaned AO_OTA classification --> NEED AHDMED'S INPUT
- Added pre-operative medications
- Added UTI complications
- Flagged patients' death/Withdrawal status
- Processed fixation/arthoplasty designations
- Processed blood transfusions
- Processed CAS scores
- Removed analysis after VTE event
Records Successfully Built!
************************************************************************************
This study has 98 patients

In [1]:
import os
import pandas as pd
from dotenv import load_dotenv
from redcap.project import Project
import numpy as np
import warnings
warnings.simplefilter("ignore")
from IPython.display import display, HTML
import sys
sys.path.append("/Users/golpira/Python/University of Calgary/RedCap-API-Git/RedCap_StudyLoader")
from redcap_classes_V2 import RedcapProcessor #, Record, BloodDraw
from my_functions import display_summary_tables,display_value_counts_per_study, my_tableone, analyze_hgb, plot_variables_over_time, hemoglobin_prior_to_first_rbc

### Teg-Hip
load_dotenv()
api_url = os.getenv("REDCAP_URL")
api_key_hip = os.getenv("REDCAP_HIP_ARTHOPLASTY")

p5 = RedcapProcessor(api_url, api_key_hip)
df_hip_artho_original = p5.fetch_and_process()

df_hip_artho_demo=p5.get_all_demographics()
df_hip_artho_lab, df_hip_artho_teg = p5.get_all_labs()

# Everyone was enrolled on the date  of surgery! Preop blood and enrolment days are the same!

- Data Fetched
- Columns renamed
************************************************************************************
Removing the following StudyIDs from dataset:
 - TA-042: EXCLUDED
************************************************************************************
- Selected Eligible → enrolled patinets in Hip_Pathway Study
- Flagged patients with VTE
- Added VTE_timepoints
- Processed comorbidities and complications
- Processed timepoints
- Cleaned injury/surgery dates
- Cleaned teg and lab date/time
- Cleaned AO_OTA classification --> NEED AHDMED'S INPUT
- Added pre-operative medications
- Added UTI complications
- Flagged patients' death/Withdrawal status
- Processed fixation/arthoplasty designations
- Processed blood transfusions
- Processed CAS scores
- Removed analysis after VTE event
Records Successfully Built!
************************************************************************************
This study has 112 patients

In [2]:
df_hip_artho_lab.to_excel('arthro_lab.xlsx', index=False)

In [3]:
df_hip_artho_teg.to_excel('arthro_teg.xlsx', index=False)

In [8]:
df_hip_artho_teg[df_hip_artho_teg['VTE']=='Yes'][['StudyID','Time','VTE_time','R_time', 'K_time','Alpha_Angle', 'MA','LY30', 'ACT','ADP-agg', 'ADP-inh','ADP-ma','AA-agg','AA-inh','AA-ma','CFF-MA','ACTF-MA','CFF-A10','CFF-FLEV']]

,StudyID,Time,VTE_time,R_time,K_time,Alpha_Angle,MA,LY30,ACT,ADP-agg,ADP-inh,ADP-ma,AA-agg,AA-inh,AA-ma,CFF-MA,ACTF-MA,CFF-A10,CFF-FLEV
91,TA-015,Week6,Week10,0.4,1.3,75.8,62.9,0.0,87.9,92.4,7.6,43.6,86.1,13.9,41.5,19.9,13.1,NaN,NaN
92,TA-015,Week4,Week10,0.2,1.4,75.5,62.4,0.0,69.2,87.1,12.9,55.0,63.4,36.6,44.0,21.1,14.6,NaN,NaN
93,TA-015,Week2,Week10,0.3,0.8,80.4,70.7,0.0,78.5,NaN,NaN,NaN,NaN,NaN,NaN,40.5,NaN,37.8,NaN
94,TA-015,POD2,Week10,0.3,0.9,81.3,70.2,0.1,78.5,67.5,32.5,52.5,21.3,78.7,33.9,41.1,25.3,37.6,NaN
95,TA-015,Unscheduled,Week10,0.5,1.1,82.0,73.8,0.0,97.3,99.5,0.5,71.4,100.0,0.0,71.8,43.8,31.8,42.2,NaN
96,TA-015,Post_Op,Week10,0.2,1.0,77.5,64.6,0.0,69.2,88.7,11.3,58.3,94.6,5.4,61.0,21.2,17.4,NaN,NaN
97,TA-015,Pre_Op,Week10,0.4,1.3,78.3,62.3,0.0,87.9,94.8,5.2,61.1,94.6,5.4,61.0,20.0,17.4,NaN,NaN
98,TA-015,POD1,Week10,0.5,1.0,76.3,64.1,0.2,97.3,87.1,12.9,58.4,62.3,37.7,46.9,22.2,18.0,NaN,NaN
342,TA-056,NaN,POD2,0.4,3.1,78.5,68.8,NaN,87.9,76.8,23.2,58.4,34.4,65.6,39.8,34.6,24.7,30.5,NaN
343,TA-056,NaN,POD2,0.7,2.4,76.8,67,0,116,9.3,90.7,20.6,97.9,2.1,63.6,25.2,16.1,23.8,NaN
344,TA-056,NaN,POD2,0.5,1.3,75.6,65.2,0,97.3,16.3,83.7,21.6,100,0,65,23.3,13.3,22.2,NaN
345,TA-056,NaN,POD2,0.3,1,78.6,68.4,0,78.5,52.2,47.8,45.8,3.4,96.6,22.6,32.2,21,28.8,NaN
346,TA-056,Post_Op,POD2,0.6,1.6,75.9,64.8,0,106.6,61.6,38.4,45.2,5.4,94.6,18,22.7,15.4,22,NaN
347,TA-056,NaN,POD2,0.2,1.1,78.2,64.4,0,69.2,63.2,36.8,47.4,92.2,7.8,61.1,24,17.5,23.1,NaN
348,TA-056,Pre_Op,POD2,0.4,1.3,77,64,0,87.9,77.8,22.2,53.2,98.1,1.9,62.6,21.6,17.2,21.4,NaN

In [4]:
df_hip_artho_demo.to_excel('arthro_demo.xlsx', index=False)

In [13]:
ALL_DEMO=pd.concat([df_hip_demo,df_pathway_demo,df_femur_demo,df_pelvis_demo,df_hip_artho_demo])
ALL_DEMO.to_excel('ALL_TEG_DEMO.xlsx', index=False)

In [14]:
ALL_LAB=pd.concat([df_hip_lab,df_pathway_lab,df_femur_lab,df_pelvis_lab,df_hip_artho_lab])
ALL_TEG=pd.concat([df_hip_teg,df_pathway_teg,df_femur_teg,df_pelvis_teg,df_hip_artho_teg])


ALL_LAB = ALL_LAB[ALL_LAB['Time']!='Unscheduled']
ALL_TEG = ALL_TEG[ALL_TEG['Time']!='Unscheduled']

In [15]:
ALL_TEG[ALL_TEG.duplicated(subset=['StudyID','Time'], keep=False)][['StudyID','Time','Alpha_Angle','Draw_date_teg','time_injury_teg_hours']]

     StudyID  Time Alpha_Angle       Draw_date_teg  time_injury_teg_hours
1402  TH-171  POD5        79.1 2022-01-14 07:00:00            4669.000000
1403  TH-171  POD5        77.9 2021-07-09 06:52:00             132.866667
120   TA-019   NaN        80.6 2022-11-08 09:45:00                    NaN
123   TA-019   NaN        74.2                 NaT                    NaN
134   TA-021   NaN        77.0 2023-01-05 12:35:00                    NaN
...      ...   ...         ...                 ...                    ...
720   TA-113   NaN         NaN                 NaT                    NaN
721   TA-113   NaN         NaN                 NaT                    NaN
722   TA-113   NaN         NaN                 NaT                    NaN
723   TA-113   NaN         NaN                 NaT                    NaN
724   TA-113   NaN         NaN                 NaT                    NaN

[177 rows x 5 columns]

In [16]:
ALL_TEG[ALL_TEG['StudyID']=='TH-094'][['StudyID','Time','Alpha_Angle','Draw_date_teg','time_injury_teg_hours']]

    StudyID       Time Alpha_Angle       Draw_date_teg  time_injury_teg_hours
788  TH-094       POD4        78.7 2019-08-07 09:53:00             128.883333
789  TH-094       POD2        77.6 2019-08-05 19:07:00              90.116667
790  TH-094       POD3        79.8 2019-08-06 08:15:00             103.250000
791  TH-094       POD5        79.2 2019-08-08 01:00:00             144.000000
792  TH-094       POD1        77.2 2019-08-04 08:19:00              55.316667
793  TH-094       PFD1        77.8 2019-08-03 06:43:00              29.716667
794  TH-094     Month3        78.3 2019-11-18 09:58:00            2600.966667
795  TH-094  Admission        74.9 2019-08-02 09:18:00               8.300000
796  TH-094      Week2        80.2 2019-08-13 08:45:00             271.750000
797  TH-094      Week4        77.6 2019-09-03 01:20:00             768.333333
798  TH-094      Week6        76.3 2019-09-30 09:20:00            1424.333333

In [17]:
ALL_TEG[ALL_TEG['StudyID']=='TPA-061'][['VTE_time','Time', 'MA',"VTE"]]

    VTE_time  Time    MA  VTE
406     POD9  POD3  71.5  Yes
407     POD9  POD1  68.3  Yes
408     POD9  PFD3  66.5  Yes
409     POD9  PFD2  69.2  Yes
410     POD9  POD7  71.6  Yes
411     POD9  POD5  72.6  Yes

In [18]:
ALL_LAB[ALL_LAB['blood_rbc_yn']=='Yes'][['Study','StudyID','Time','rbc_timepoint','blood_rbc','Hemoglobin','blood_date','blood_rbc_yn','Draw_date_lab','time_injury_lab_hours','time_injury_rbc_hours']].head(60)

,Study,StudyID,Time,rbc_timepoint,blood_rbc,Hemoglobin,blood_date,blood_rbc_yn,Draw_date_lab,time_injury_lab_hours,time_injury_rbc_hours
34,Hip,TH-009,POD2,NaN,0.0,75,NaN,Yes,2018-07-08 19:10:00,45.666667,NaN
35,Hip,TH-009,POD3,NaN,0.0,60,NaN,Yes,2018-07-09 20:45:00,71.250000,NaN
36,Hip,TH-009,POD4,NaN,0.0,76,NaN,Yes,2018-07-10 20:00:00,94.500000,NaN
37,Hip,TH-009,POD1,NaN,0.0,NaN,NaN,Yes,2018-07-07 00:00:00,2.500000,NaN
38,Hip,TH-009,Admission,NaN,0.0,95,NaN,Yes,2018-07-07 00:00:00,2.500000,NaN
39,Hip,TH-009,Post_Op,Post-Operative,1.0,NaN,2018-07-09,Yes,NaT,NaN,50.500000
40,Hip,TH-011,POD3,NaN,0.0,NaN,NaN,Yes,2018-07-24 00:00:00,113.333333,NaN
41,Hip,TH-011,POD2,NaN,0.0,97,NaN,Yes,2018-07-23 10:40:00,100.000000,NaN
42,Hip,TH-011,POD1,NaN,0.0,103,NaN,Yes,2018-07-22 12:44:00,78.066667,NaN
43,Hip,TH-011,Admission,NaN,0.0,134,NaN,Yes,2018-07-19 16:25:00,9.750000,NaN
44,Hip,TH-011,Post_Op,Post-Operative,1.0,NaN,2018-07-25,Yes,NaT,NaN,137.333333
45,Hip,TH-011,PFD1,NaN,0.0,110,NaN,Yes,2018-07-20 17:00:00,34.333333,NaN
56,Hip,TH-014,POD1,NaN,0.0,87,NaN,Yes,2018-07-31 10:00:00,48.000000,NaN
57,Hip,TH-014,POD3,NaN,0.0,79,NaN,Yes,2018-08-02 10:21:00,96.350000,NaN
58,Hip,TH-014,POD4,NaN,0.0,93,NaN,Yes,2018-08-03 10:08:00,120.133333,NaN
59,Hip,TH-014,Post_Op,NaN,0.0,68,NaN,Yes,2018-07-30 00:00:00,14.000000,NaN
60,Hip,TH-014,POD2,NaN,0.0,68,NaN,Yes,2018-08-01 09:55:00,71.916667,NaN
61,Hip,TH-014,Post_Op,Post-Operative,2.0,NaN,2018-08-01,Yes,NaT,NaN,62.000000
62,Hip,TH-015,POD2,NaN,0.0,NaN,NaN,Yes,2018-08-04 00:00:00,109.000000,NaN
63,Hip,TH-015,POD4,NaN,0.0,79,NaN,Yes,2018-08-06 10:12:00,167.200000,NaN
64,Hip,TH-015,POD1,NaN,0.0,NaN,NaN,Yes,2018-08-03 00:00:00,85.000000,NaN
65,Hip,TH-015,Admission,NaN,0.0,121,NaN,Yes,2018-07-30 17:00:00,6.000000,NaN
66,Hip,TH-015,Post_Op,Post-Operative,1.0,NaN,2018-08-05,Yes,NaT,NaN,133.000000
70,Hip,TH-017,POD1,NaN,0.0,79,NaN,Yes,2018-08-07 19:00:00,47.000000,NaN
71,Hip,TH-017,POD5,NaN,0.0,85,NaN,Yes,2018-08-11 19:35:00,143.583333,NaN
72,Hip,TH-017,POD3,NaN,0.0,69,NaN,Yes,2018-08-09 20:15:00,96.250000,NaN
73,Hip,TH-017,POD4,NaN,0.0,82,NaN,Yes,2018-08-10 19:25:00,119.416667,NaN
74,Hip,TH-017,POD2,NaN,0.0,63,NaN,Yes,2018-08-08 18:00:00,70.000000,NaN
75,Hip,TH-017,Admission,NaN,0.0,112,NaN,Yes,2018-08-06 08:20:00,12.333333,NaN
76,Hip,TH-017,Post_Op,Post-Operative,1.0,NaN,2018-08-08,Yes,NaT,NaN,52.000000
83,Hip,TH-019,POD3,NaN,0.0,90,NaN,Yes,2018-08-20 14:53:00,69.883333,NaN
84,Hip,TH-019,POD2,NaN,0.0,74,NaN,Yes,2018-08-19 15:25:00,46.416667,NaN
85,Hip,TH-019,POD1,NaN,0.0,89,NaN,Yes,2018-08-18 00:00:00,7.000000,NaN
86,Hip,TH-019,Post_Op,Post-Operative,1.0,NaN,2018-08-19,Yes,NaT,NaN,31.000000
87,Hip,TH-019,Admission,NaN,0.0,122,NaN,Yes,2018-08-18 02:00:00,9.000000,NaN
175,Hip,TH-038,POD1,NaN,0.0,NaN,NaN,Yes,2018-10-10 00:00:00,9.000000,NaN
176,Hip,TH-038,POD2,NaN,0.0,78,NaN,Yes,2018-10-11 12:34:00,45.566667,NaN
177,Hip,TH-038,POD4,NaN,0.0,75,NaN,Yes,2018-10-13 00:00:00,81.000000,NaN
178,Hip,TH-038,POD5,NaN,0.0,73,NaN,Yes,2018-10-14 16:18:00,121.300000,NaN
179,Hip,TH-038,POD3,NaN,0.0,84,NaN,Yes,2018-10-12 13:49:00,70.816667,NaN
180,Hip,TH-038,Admission,NaN,0.0,103,NaN,Yes,2018-10-09 00:00:00,-15.000000,NaN
181,Hip,TH-038,Post_Op,Post-Operative,1.0,NaN,2018-10-11,Yes,NaT,NaN,33.000000
182,Hip,TH-039,POD5,NaN,0.0,93,NaN,Yes,2018-10-18 10:00:00,142.500000,NaN
183,Hip,TH-039,POD4,NaN,0.0,81,NaN,Yes,2018-10-18 11:20:00,143.833333,NaN
184,Hip,TH-039,POD3,NaN,0.0,78,NaN,Yes,2018-10-17 13:10:00,121.666667,NaN
185,Hip,TH-039,POD2,NaN,0.0,93,NaN,Yes,2018-10-16 13:04:00,97.566667,NaN
186,Hip,TH-039,POD1,NaN,0.0,98,NaN,Yes,2018-10-15 13:20:00,73.833333,NaN
187,Hip,TH-039,PFD2,NaN,0.0,103,NaN,Yes,2018-10-14 15:30:00,52.000000,NaN
188,Hip,TH-039,Admission,NaN,0.0,142,NaN,Yes,2018-10-12 00:00:00,-11.500000,NaN
189,Hip,TH-039,Pre_Op,Admission to Intra-Operative,3.0,NaN,2018-10-15,Yes,NaT,NaN,60.500000
190,Hip,TH-039,Intra_Op,Intra-Operative,5.0,NaN,2018-10-15,Yes,NaT,NaN,60.500000
191,Hip,TH-039,PFD1,NaN,0.0,121,NaN,Yes,2018-10-13 15:30:00,28.000000,NaN
192,Hip,TH-039,Week2,NaN,0.0,91,NaN,Yes,2018-10-26 14:34:00,339.066667,NaN
273,Hip,TH-057,POD2,NaN,0.0,77,NaN,Yes,2019-01-17 10:25:00,48.666667,NaN
274,Hip,TH-057,POD3,NaN,0.0,61,NaN,Yes,2019-01-18 09:43:00,71.966667,NaN
275,Hip,TH-057,POD5,NaN,0.0,85,NaN,Yes,2019-01-20 08:50:00,119.083333,NaN
276,Hip,TH-057,POD1,NaN,0.0,NaN,NaN,Yes,2019-01-16 00:00:00,14.250000,NaN
277,Hip,TH-057,POD4,NaN,0.0,80,NaN,Yes,2019-01-19 08:43:00,94.966667,NaN
278,Hip,TH-057,Post_Op,Post-Operative,2.0,NaN,2019-01-18,Yes,NaT,NaN,62.250000
279,Hip,TH-057,Admission,NaN,0.0,165,NaN,Yes,2019-01-15 14:30:00,4.750000,NaN

In [19]:
ALL_LAB[ALL_LAB['blood_rbc_yn']=='Yes'].sort_values(['StudyID']).head(20)

,StudyID,Study,Time,VTE_type,VTE,VTE_time,Pre_op_med,Draw_date_lab,time_injury_lab_hours,time_surgery_lab_hours,time_injury_rbc_hours,blood_rbc_yn,blood_rbc,blood_date,rbc_timepoint,Hemoglobin,Creatinine
8,HPA-008,Pathway,POD1,NaN,No,NaN,DOAC,2024-03-22 06:08:00,59.533333,21.633333,NaN,Yes,0.0,NaN,NaN,99,NaN
14,HPA-008,Pathway,Admission,NaN,No,NaN,DOAC,2024-03-19 20:41:00,2.083333,-35.816667,NaN,Yes,0.0,NaN,NaN,113,65
13,HPA-008,Pathway,POD5,NaN,No,NaN,DOAC,2024-03-26 07:00:00,156.400000,118.500000,NaN,Yes,0.0,NaN,NaN,95,NaN
9,HPA-008,Pathway,POD3,NaN,No,NaN,DOAC,2024-03-24 08:00:00,109.400000,71.500000,NaN,Yes,0.0,NaN,NaN,91,NaN
11,HPA-008,Pathway,POD7,NaN,No,NaN,DOAC,2024-03-28 07:00:00,204.400000,166.500000,NaN,Yes,0.0,NaN,NaN,96,NaN
10,HPA-008,Pathway,Post_Op,NaN,No,NaN,DOAC,NaT,NaN,NaN,77.4,Yes,1.0,2024-03-23,POD 2,NaN,NaN
12,HPA-008,Pathway,Post_Op,NaN,No,NaN,DOAC,NaT,NaN,NaN,53.4,Yes,2.0,2024-03-22,POD 1,NaN,NaN
39,HPA-014,Pathway,Admission,NaN,No,NaN,DOAC,2024-07-02 09:07:00,20.616667,-4.283333,NaN,Yes,0.0,NaN,NaN,104,65
38,HPA-014,Pathway,Week4,NaN,No,NaN,DOAC,2024-07-29 07:00:00,666.500000,641.600000,NaN,Yes,0.0,NaN,NaN,87,NaN
37,HPA-014,Pathway,Week6,NaN,No,NaN,DOAC,2024-08-09 07:00:00,930.500000,905.600000,NaN,Yes,0.0,NaN,NaN,111,34
36,HPA-014,Pathway,Week2,NaN,No,NaN,DOAC,2024-07-16 07:00:00,354.500000,329.600000,NaN,Yes,0.0,NaN,NaN,81,NaN
40,HPA-014,Pathway,Admission,NaN,No,NaN,DOAC,NaT,NaN,NaN,-12.5,Yes,4.0,2024-07-01,Admission/Baseline,NaN,NaN
34,HPA-014,Pathway,POD5,NaN,No,NaN,DOAC,2024-07-07 07:00:00,138.500000,113.600000,NaN,Yes,0.0,NaN,NaN,99,35
33,HPA-014,Pathway,Post_Op,NaN,No,NaN,DOAC,NaT,NaN,NaN,83.5,Yes,1.0,2024-07-05,POD 3,NaN,NaN
32,HPA-014,Pathway,POD1,NaN,No,NaN,DOAC,2024-07-03 07:03:00,42.550000,17.650000,NaN,Yes,0.0,NaN,NaN,84,NaN
31,HPA-014,Pathway,POD7,NaN,No,NaN,DOAC,2024-07-09 06:18:00,185.800000,160.900000,NaN,Yes,0.0,NaN,NaN,101,52
35,HPA-014,Pathway,POD3,NaN,No,NaN,DOAC,2024-07-05 07:00:00,90.500000,65.600000,NaN,Yes,0.0,NaN,NaN,69,NaN
85,HPA-026,Pathway,POD7,NaN,No,NaN,DOAC,NaT,NaN,NaN,NaN,Yes,0.0,NaN,NaN,NaN,NaN
86,HPA-026,Pathway,POD5,NaN,No,NaN,DOAC,NaT,NaN,NaN,NaN,Yes,0.0,NaN,NaN,NaN,NaN
87,HPA-026,Pathway,POD3,NaN,No,NaN,DOAC,2024-10-25 07:00:00,119.000000,61.266667,NaN,Yes,0.0,NaN,NaN,103,73

In [20]:
ALL_LAB[ALL_LAB.duplicated(subset=['StudyID','Time'], keep=False)] [['StudyID','Time','Hemoglobin','blood_rbc','Draw_date_lab','time_injury_lab_hours','blood_date','rbc_timepoint']]

# .to_excel('Test.xlsx', index=False)


#

,StudyID,Time,Hemoglobin,blood_rbc,Draw_date_lab,time_injury_lab_hours,blood_date,rbc_timepoint
59,TH-014,Post_Op,68,0.0,2018-07-30 00:00:00,14.000000,NaN,NaN
61,TH-014,Post_Op,NaN,2.0,NaT,NaN,2018-08-01,Post-Operative
846,TH-171,POD5,78,0.0,2022-01-14 07:00:00,4669.000000,NaN,NaN
847,TH-171,POD5,103,0.0,2021-07-09 06:52:00,132.866667,NaN,NaN
1161,TH-258,Post_Op,83,0.0,2023-02-07 00:00:00,13.500000,NaN,NaN
...,...,...,...,...,...,...,...,...
5,TPA-003,Pre_Op,106,0.0,2020-02-26 04:00:00,37.500000,NaN,NaN
10,TPA-003,Pre_Op,NaN,3.0,NaT,NaN,NaN,Admission to Pre-Operative
278,TPA-073,Pre_Op,98,0.0,NaT,NaN,NaN,NaN
279,TPA-073,Pre_Op,104,0.0,2023-09-10 17:03:00,7.050000,NaN,NaN
281,TPA-073,Pre_Op,NaN,1.0,NaT,NaN,NaN,Admission to Pre-Operative

In [21]:
ALL_TEG=pd.merge(ALL_DEMO,ALL_TEG, on=['StudyID','Study','VTE','VTE_type','VTE_time','Pre_op_med'], how='outer', indicator=True)
ALL_LAB=pd.merge(ALL_DEMO,ALL_LAB, on=['StudyID','Study','VTE','VTE_type','VTE_time','Pre_op_med','blood_rbc_yn'], how='outer', indicator=True)


ALL_TEG.to_excel('ALL_TEG.xlsx', index=False)
ALL_LAB.to_excel('ALL_LAB.xlsx', index=False)

In [22]:
ALL_TEG[ALL_TEG.duplicated(subset=['StudyID','Time'], keep=False)][['StudyID','Time','Alpha_Angle','Draw_date_teg','time_injury_teg_hours']]

     StudyID   Time Alpha_Angle       Draw_date_teg  time_injury_teg_hours
366   TA-019    NaN        80.6 2022-11-08 09:45:00                    NaN
369   TA-019    NaN        74.2                 NaT                    NaN
380   TA-021    NaN        77.0 2023-01-05 12:35:00                    NaN
381   TA-021  Week6        75.6                 NaT                    NaN
382   TA-021    NaN        71.1                 NaT                    NaN
...      ...    ...         ...                 ...                    ...
944   TA-113    NaN         NaN                 NaT                    NaN
945   TA-113    NaN         NaN                 NaT                    NaN
946   TA-113    NaN         NaN                 NaT                    NaN
3222  TH-171   POD5        79.1 2022-01-14 07:00:00            4669.000000
3223  TH-171   POD5        77.9 2021-07-09 06:52:00             132.866667

[177 rows x 5 columns]

In [23]:
ALL_DEMO['Study'].value_counts()

Study
Hip            310
Femur          134
Arthoplasty    112
Pelvis          98
Pathway         43
Name: count, dtype: int64

In [24]:
display_summary_tables(ALL_DEMO, filter_col='VTE', extra_col='VTE_type')

No,StudyID,VTE_type
1,TH-003,DVT
2,TH-082,PE
3,TH-088,PE
4,TH-201,DVT
5,TH-227,DVT
6,TH-253,DVT
7,TH-261,Both
8,TH-264,DVT
9,TH-271,PE
10,TH-279,Both
11,TH-292,PE
12,TH-301,DVT
No,StudyID,VTE_type
1,TF-022,PE
2,TF-027,Both
3,TF-069,DVT
4,TF-073,DVT
5,TF-075,SVT
6,TF-085,DVT
7,TF-120,DVT
No,StudyID,VTE_type
1,TPA-001,Both
2,TPA-010,PE
3,TPA-011,PE
4,TPA-016,DVT
5,TPA-021,PE
6,TPA-026,PE
7,TPA-030,DVT
8,TPA-036,PE
9,TPA-061,DVT
10,TPA-073,Both
11,TPA-081,PE
12,TPA-095,DVT
13,TPA-097,Both
14,TPA-100,Both
No,StudyID,VTE_type
1,HPA-028,PE
No,StudyID,VTE_type
1,TA-015,PE
2,TA-056,Both

In [25]:
ALL_DEMO[ALL_DEMO['VTE']=='Yes'][['StudyID','VTE_type', 'VTE_time']]

     StudyID VTE_type VTE_time
2     TH-003      DVT    Week6
81    TH-082       PE    Week2
87    TH-088       PE     POD1
200   TH-201      DVT     POD2
225   TH-227      DVT     POD3
251   TH-253      DVT     POD2
259   TH-261     Both     POD3
262   TH-264      DVT     POD3
269   TH-271       PE     POD2
277   TH-279     Both     POD2
290   TH-292       PE     POD3
299   TH-301      DVT     POD3
16   HPA-028       PE     POD3
20    TF-022       PE   Pre_Op
25    TF-027     Both     POD4
65    TF-069      DVT     POD6
68    TF-073      DVT    Week2
70    TF-075      SVT    POD10
79    TF-085      DVT    Week2
113   TF-120      DVT     POD2
0    TPA-001     Both     POD1
9    TPA-010       PE     POD5
10   TPA-011       PE    Week6
15   TPA-016      DVT    Week2
19   TPA-021       PE     POD4
24   TPA-026       PE     POD3
27   TPA-030      DVT  Post_Op
32   TPA-036       PE     POD1
55   TPA-061      DVT     POD9
67   TPA-073     Both    POD10
74   TPA-081       PE   Pre_Op
88   TPA-095      DVT     POD7
90   TPA-097     Both    POD10
93   TPA-100     Both     POD1
14    TA-015       PE     None
54    TA-056     Both     None

In [26]:
display_summary_tables(ALL_DEMO, filter_col='Death')

No,StudyID
1,TH-023
2,TH-030
3,TH-069
4,TH-082
5,TH-088
6,TH-100
7,TH-130
8,TH-133
9,TH-206
10,TH-267
No,StudyID
No,StudyID
No,StudyID
1,HPA-026
2,HPA-028
3,HPA-050
4,HPA-051
5,HPA-052
6,HPA-059
No,StudyID

In [27]:
display_summary_tables(ALL_DEMO, filter_col='Withdrawn')

No,StudyID
1,TH-004
2,TH-010
3,TH-011
4,TH-015
5,TH-019
6,TH-020
7,TH-022
8,TH-027
9,TH-031
10,TH-037
11,TH-049
12,TH-054
13,TH-055
14,TH-056
15,TH-066
16,TH-075
17,TH-076
18,TH-077
19,TH-078
20,TH-080
21,TH-101
22,TH-102
23,TH-103
24,TH-110
25,TH-111
26,TH-117
27,TH-140
28,TH-141
29,TH-143
30,TH-144
31,TH-147
32,TH-149
33,TH-162
34,TH-165
35,TH-170
36,TH-175
37,TH-179
38,TH-180
39,TH-185
40,TH-190
41,TH-194
42,TH-204
43,TH-205
44,TH-232
45,TH-235
46,TH-238
47,TH-240
48,TH-243
49,TH-245
50,TH-246
51,TH-249
52,TH-251
53,TH-258
54,TH-260
55,TH-265
56,TH-274
57,TH-282
58,TH-286
59,TH-290
60,TH-294
61,TH-296
62,TH-297
63,TH-306
64,TH-309
65,TH-310
No,StudyID
1,TF-002
2,TF-006
3,TF-016
4,TF-021
5,TF-026
6,TF-058
7,TF-067
8,TF-076
9,TF-077
10,TF-088
11,TF-096
12,TF-101
13,TF-108
14,TF-109
15,TF-117
16,TF-118
17,TF-120
18,TF-121
19,TF-126
20,TF-132
21,TF-137
No,StudyID
1,TPA-033
2,TPA-042
3,TPA-046
4,TPA-051
5,TPA-066
6,TPA-074
7,TPA-075
8,TPA-076
9,TPA-083
10,TPA-084
11,TPA-091
12,TPA-092
13,TPA-093
14,TPA-099
15,TPA-100
16,TPA-101
17,TPA-104
No,StudyID
1,HPA-010
2,HPA-030
3,THB-HPA-017
No,StudyID
1,TA-002
2,TA-023
3,TA-024
4,TA-029
5,TA-039
6,TA-064
7,TA-086
8,TA-094
9,TA-095

In [28]:
display_value_counts_per_study(ALL_DEMO, 'VTE')

No,VTE,count
1,No,298
2,Yes,12
No,VTE,count
1,No,127
2,Yes,7
No,VTE,count
1,No,84
2,Yes,14
No,VTE,count
1,No,42
2,Yes,1

In [29]:
display_value_counts_per_study(ALL_DEMO, 'Pre_op_med')

No,Pre_op_med,count
1,LMWH,255
2,ASA,34
3,DOAC,16
4,No Info,4
5,Warfarin,1
No,Pre_op_med,count
1,LMWH,126
2,ASA,7
3,DOAC,1
No,Pre_op_med,count
1,LMWH,94
2,DOAC,3
3,ASA,1
No,Pre_op_med,count
1,DOAC,39
2,LMWH,4

In [30]:
display_value_counts_per_study(ALL_DEMO, 'Sex')

No,Sex,count
1,Female,201
2,Male,109
No,Sex,count
1,Male,85
2,Female,49
No,Sex,count
1,Male,70
2,Female,28
No,Sex,count
1,Female,25
2,Male,17
3,None,1

In [31]:
display_value_counts_per_study(ALL_DEMO, 'AO_OTA')

No,AO_OTA,count
1,31-A3,98
2,31-B1,54
3,31-B3,53
4,31-B2,48
5,31-A2,33
6,31-A1,24
No,AO_OTA,count
1,31-A3,40
2,32-A,38
3,33-A,17
4,32-B,16
5,None,14
6,32-C,9
No,AO_OTA,count
1,61-B,27
2,62-C,19
3,None,18
4,62-A,16
5,62-B,11
6,61-C,5
7,61-A,2
No,AO_OTA,count
1,31-A3,12
2,31-B1,9
3,None,7
4,31-B3,6
5,31-B2,6
6,31-A2,3

In [32]:
display_summary_tables(ALL_DEMO, filter_col='Pre_op_med')

No,StudyID
No,StudyID
No,StudyID
No,StudyID
No,StudyID

In [33]:
display_summary_tables(ALL_DEMO, filter_col='blood_rbc_yn')

No,StudyID
1,TH-009
2,TH-011
3,TH-014
4,TH-015
5,TH-017
6,TH-019
7,TH-038
8,TH-039
9,TH-057
10,TH-061
11,TH-062
12,TH-066
13,TH-067
14,TH-071
15,TH-072
16,TH-076
17,TH-078
18,TH-079
19,TH-081
20,TH-082
21,TH-084
22,TH-085
23,TH-102
24,TH-104
25,TH-108
26,TH-117
27,TH-118
28,TH-121
29,TH-132
30,TH-137
31,TH-141
32,TH-146
33,TH-169
34,TH-174
35,TH-180
36,TH-183
37,TH-185
38,TH-198
39,TH-208
40,TH-213
41,TH-219
42,TH-222
43,TH-230
44,TH-255
45,TH-258
46,TH-262
47,TH-263
48,TH-271
49,TH-275
50,TH-280
51,TH-301
52,TH-303
53,TH-309
No,StudyID
1,TF-010
2,TF-012
3,TF-014
4,TF-015
5,TF-020
6,TF-022
7,TF-023
8,TF-024
9,TF-029
10,TF-031
11,TF-033
12,TF-037
13,TF-039
14,TF-042
15,TF-043
16,TF-046
17,TF-047
18,TF-049
19,TF-052
20,TF-055
21,TF-056
22,TF-058
23,TF-059
24,TF-060
25,TF-063
26,TF-064
27,TF-071
28,TF-072
29,TF-074
30,TF-075
31,TF-078
32,TF-089
33,TF-092
34,TF-093
35,TF-095
36,TF-096
37,TF-109
38,TF-112
39,TF-114
40,TF-117
41,TF-123
42,TF-125
43,TF-126
44,TF-130
45,TF-132
46,TF-133
47,TF-136
48,TF-137
No,StudyID
1,TPA-001
2,TPA-003
3,TPA-007
4,TPA-008
5,TPA-010
6,TPA-011
7,TPA-013
8,TPA-018
9,TPA-021
10,TPA-024
11,TPA-029
12,TPA-030
13,TPA-036
14,TPA-038
15,TPA-039
16,TPA-041
17,TPA-042
18,TPA-044
19,TPA-055
20,TPA-056
21,TPA-057
22,TPA-059
23,TPA-061
24,TPA-066
25,TPA-069
26,TPA-073
27,TPA-076
28,TPA-081
29,TPA-082
30,TPA-084
31,TPA-091
32,TPA-093
33,TPA-095
34,TPA-097
35,TPA-098
36,TPA-100
37,TPA-101
38,TPA-103
39,TPA-104
No,StudyID
1,HPA-008
2,HPA-014
3,HPA-026
4,HPA-028
5,HPA-035
6,HPA-050
7,HPA-055
8,HPA-059
9,THB-HPA-025
No,StudyID

In [34]:
display_value_counts_per_study(ALL_DEMO, 'blood_rbc_yn')

No,blood_rbc_yn,count
1,No,257
2,Yes,53
No,blood_rbc_yn,count
1,No,86
2,Yes,48
No,blood_rbc_yn,count
1,No,59
2,Yes,39
No,blood_rbc_yn,count
1,No,34
2,Yes,9

In [35]:
display(ALL_LAB[ALL_LAB['time_injury_lab_hours']<0][['StudyID','Time','Injury_date','Draw_date_lab','time_injury_lab_hours']])

,StudyID,Time,Injury_date,Draw_date_lab,time_injury_lab_hours
375,TF-007,Post_Op,2018-08-04 03:50,2018-08-04 00:09:00,-3.683333
560,TF-056,Admission,2021-06-22 12:00,2021-06-22 10:18:00,-1.700000
903,TH-007,Admission,2018-07-05 18:45,2018-07-05 00:00:00,-18.750000
907,TH-008,Admission,2018-07-06 06:00,2018-07-06 00:00:00,-6.000000
973,TH-021,Admission,2018-08-21 15:30,2018-08-21 00:00:00,-15.500000
999,TH-027,Admission,2018-09-07 05:30,2018-09-07 00:00:00,-5.500000
1024,TH-032,Admission,2018-09-20 10:00,2018-09-20 00:00:00,-10.000000
1057,TH-038,Admission,2018-10-09 15:00,2018-10-09 00:00:00,-15.000000
1065,TH-039,Admission,2018-10-12 11:30,2018-10-12 00:00:00,-11.500000
1076,TH-040,Admission,2018-10-24 04:30,2018-10-24 00:00:00,-4.500000
1080,TH-041,Admission,2018-10-26 16:30,2018-10-26 00:00:00,-16.500000
1085,TH-042,Admission,2018-10-28 13:00,2018-10-28 00:00:00,-13.000000
1095,TH-045,Admission,2018-10-31 12:00,2018-10-31 00:00:00,-12.000000
1131,TH-052,Admission,2018-12-09 14:00,2018-12-09 00:00:00,-14.000000
1143,TH-054,Admission,2019-01-05 14:45,2019-01-05 00:00:00,-14.750000
1179,TH-061,Admission,2019-01-21 11:00,2019-01-21 00:00:00,-11.000000
1307,TH-083,Admission,2019-06-16 16:00,2019-06-16 10:15:00,-5.750000
1525,TH-123,Admission,2019-11-19 07:45,2019-11-19 00:00:00,-7.750000
1692,TH-163,Admission,2021-06-15 22:30,2021-06-15 17:15:00,-5.250000
1729,TH-171,Admission,2021-07-03 18:00,2021-07-03 00:00:00,-18.000000
1833,TH-198,Admission,2021-10-03 16:40,2021-10-03 00:00:00,-16.666667
1882,TH-210,Admission,2022-01-08 01:30,2022-01-08 00:00:00,-1.500000

In [36]:
display(ALL_TEG[ALL_TEG['time_injury_teg_hours']<0][['StudyID','Time','Injury_date','Draw_date_teg','time_injury_teg_hours']])

,StudyID,Time,Injury_date,Draw_date_teg,time_injury_teg_hours
980,TF-007,Post_Op,2018-08-04 03:50,2018-08-04 00:09:00,-3.683333
1277,TF-056,Admission,2021-06-22 12:00,2021-06-22 10:18:00,-1.700000
2008,TH-023,Admission,2018-08-31 19:15,2018-08-31 06:45:00,-12.500000
2527,TH-083,Admission,2019-06-16 16:00,2019-06-16 10:15:00,-5.750000
3168,TH-163,Admission,2021-06-15 22:30,2021-06-15 17:15:00,-5.250000

In [37]:
df_demo=pd.concat([df_hip_demo,df_pathway_demo]).reset_index(drop=True)


df_demo_oac = df_demo[df_demo['Pre_op_med'].isin(['DOAC','Warfarin']) ]
df_blood_draws = pd.concat([p1.get_all_blood_draws(), p2.get_all_blood_draws()]).drop_duplicates().reset_index(drop=True)

AttributeError: 'RedcapProcessor' object has no attribute 'get_all_blood_draws'

# ONLY DOAC - Hemoglobin drop

In [ ]:
df_blood_draws_oac = df_blood_draws[df_blood_draws['StudyID'].isin(df_demo_oac['StudyID'])]

In [ ]:
df_blood_draws_oac

In [ ]:
analyze_hgb(df_blood_draws_oac, pod_time="POD1")

In [ ]:
analyze_hgb(df_blood_draws_oac, pod_time="POD3")

In [ ]:
# df_blood_draws[df_blood_draws['Time']=='Week2'].sort_values('StudyID')

In [ ]:
df_blood_draws.head()

In [ ]:
df_blood_draws[df_blood_draws['Time'].isin(['Admission','Pre-Op','PFD1','Pre-Op','PFD2','4 hr Pre-OP','Pre-draw','PFD3','PFD4'])].head(10)

## Created two columns to pick depending on if we want pre-op closest to injury or if we want pre-op closest to surgery

In [ ]:
preop_timepoints = ['Admission','Pre-Op','PFD1','Pre-Op','PFD2','4 hr Pre-OP','Pre-draw','PFD3','PFD4']

# Initialize new columns
df_blood_draws['closest_to_injury'] = 'No'
df_blood_draws['closest_to_surgery'] = 'No'


columns_to_check = ['R_time', 'K_time', 'MA', 'LY30', 'ACT','Alpha_Angle']

for patient_id, group in df_blood_draws.groupby('StudyID'):
    preop_draws = group[group['Time'].isin(preop_timepoints)].copy()
    
    if not preop_draws.empty:
        # Filter out draws where all columns are NaN
        valid_draws = preop_draws.dropna(subset=columns_to_check, how='all')
        
        if not valid_draws.empty:
            # Closest to injury
            closest_idx = valid_draws['injury_to_lab_hrs'].idxmin()
            df_blood_draws.loc[closest_idx, 'closest_to_injury'] = 'Yes'
            
            # Closest to surgery
            farthest_idx = valid_draws['injury_to_lab_hrs'].idxmax()
            df_blood_draws.loc[farthest_idx, 'closest_to_surgery'] = 'Yes'
        else:
            # If all draws are invalid, fallback to first/last pre-op draw
            df_blood_draws.loc[preop_draws.index[0], 'closest_to_injury'] = 'Yes'
            df_blood_draws.loc[preop_draws.index[-1], 'closest_to_surgery'] = 'Yes'
            
# # Loop over each patient
# for patient_id, group in df_blood_draws.groupby('StudyID'):
#     preop_draws = group[group['Time'].isin(preop_timepoints)].copy()
    
#     if not preop_draws.empty:
#         # Closest to injury
#         if preop_draws['time_from_injury_to_draw_hours'].notna().any():
#             closest_idx = preop_draws['time_from_injury_to_draw_hours'].idxmin()
#         elif (preop_draws['Time'] == 'Admission').any():
#             closest_idx = preop_draws[preop_draws['Time'] == 'Admission'].index[0]
#         else:
#             # Fallback: just take the first pre-op draw
#             closest_idx = preop_draws.index[0]
#         df_blood_draws.loc[closest_idx, 'closest_to_injury'] = 'Yes'
        
#         # Closest to surgery (farthest from injury)
#         if preop_draws['time_from_injury_to_draw_hours'].notna().any():
#             farthest_idx = preop_draws['time_from_injury_to_draw_hours'].idxmax()
#         elif (preop_draws['Time'] == 'Admission').any():
#             farthest_idx = preop_draws[preop_draws['Time'] == 'Admission'].index[0]
#         else:
#             # Fallback: just take the last pre-op draw
#             farthest_idx = preop_draws.index[-1]
#         df_blood_draws.loc[farthest_idx, 'closest_to_surgery'] = 'Yes'

# Update 'Time' for closest to injury
df_blood_draws['Time'] = np.where(
    df_blood_draws['closest_to_injury'] == 'Yes',
    'Pre_op',
    df_blood_draws['Time'])

In [ ]:
# df_blood_draws[df_blood_draws['StudyID']=='TH-137']

In [ ]:
df_blood_draws[df_blood_draws['closest_to_injury']=='Yes'].head()

In [ ]:
columns = ['Sex', 'Age', 'BMI','VTE_type','VTE']
groupby = 'Pre_op_med'
categorical = ['Sex','VTE_type','VTE']

nonnormal=['BMI'] 
display(TableOne(df_demo, columns=columns, categorical=categorical, nonnormal=nonnormal, groupby=groupby))

In [ ]:
columns = ['R_time', 'K_time',  'MA', 'LY30', 'ACT','Alpha_Angle'] 
groupby = 'Pre_op_med'
categorical = []


for timepoint in ['Pre_op','POD1', 'POD3', 'POD5', 'POD7', 'Week2', 'Week4', 'Week6', 'Month3']:
    print(timepoint)
    print('++++++++++++++++++++++++++++++++++++++++++++')
    df=df_blood_draws[df_blood_draws['Time']==timepoint]


    

    nonnormal=[ 'R_time', 'K_time',  'MA', 'LY30', 'ACT','Alpha_Angle'] 
    display(TableOne(df, columns=columns, categorical=categorical, nonnormal=nonnormal, groupby=groupby))

In [ ]:
df_blood_draws.columns

In [ ]:
for col in columns:
    df_blood_draws[col] = pd.to_numeric(df_blood_draws[col], errors='coerce')

    
plot_variables_over_time(df_blood_draws,
                         hue='VTE', 
    style='VTE',
    palette={'Yes':"#ff3636", 'No':"#030303"},
    # var_labels=var_labels,
    xlabel="Timepoints",
)

NameError: name 'columns' is not defined

In [ ]:
df_blood_draws[(df_blood_draws['StudyID']=='TH-190')&(df_blood_draws['Time']=='Pre_op')][['Time','LY30','Pre_op_med']]

In [ ]:
display(all_blood_hip[all_blood_hip['StudyID']=='TH-188'][['Time','LY30']])