# VTE Timepoints, remove analysis after VTE occurred.

In [2]:
import os
import pandas as pd
from dotenv import load_dotenv
from redcap.project import Project
import numpy as np
import warnings
warnings.simplefilter("ignore")
import sys
sys.path.append("/Users/golpira/Python/University of Calgary/RedCap-API-Git/RedCap_StudyLoader")
from redcap_classes_V2 import RedcapProcessor #, Record, BloodDraw
from my_functions import display_summary_tables,display_value_counts_per_study, my_tableone, analyze_hgb, plot_variables_over_time

### Teg-Hip
load_dotenv()
api_url = os.getenv("REDCAP_URL")
api_key_hip = os.getenv("REDCAP_TEG_HIP_API_KEY")

p1 = RedcapProcessor(api_url, api_key_hip)
df_hip_original = p1.fetch_and_process()

df_hip_demo=p1.get_all_demographics()
df_hip_lab = p1.get_all_labs()
df_hip = p1.get_full_dataframe()

Data Fetched
Removing the following StudyIDs from dataset:
 - TH-226: Treated non-operatively
Records Successfully Built!
********* This study has 310 patients ************

Empty DataFrame
Columns: [draw_group, Time, R_time, K_time, Alpha_Angle, MA, LY30, ACT, ADP-agg, ADP-inh, ADP-ma, AA-agg, AA-inh, AA-ma]
Index: []

Empty DataFrame
Columns: [draw_group, Time, Hemoglobin, Creatinine]
Index: []

Empty DataFrame
Columns: [StudyID, draw_group, Time, R_time, K_time, Alpha_Angle, MA, LY30, ACT, ADP-agg, ADP-inh, ADP-ma, AA-agg, AA-inh, AA-ma, Hemoglobin, Creatinine]
Index: []

In [ ]:
# p1.get_demo('TH-001')

In [ ]:
# p1.get_draws('TH-001')

In [ ]:
# df_hip_original[['StudyID', 'very_fit','well','managing_well','vulnerable','mildly_frail','moderately_frail','severely_frail','very_severely_frail','terminally_ill', 'MA']].head(40)

In [1]:
import os
import pandas as pd
from dotenv import load_dotenv
from redcap.project import Project
import numpy as np
import warnings
warnings.simplefilter("ignore")
import sys
sys.path.append("/Users/golpira/Python/University of Calgary/RedCap-API-Git/RedCap_StudyLoader")
from redcap_classes_V2 import RedcapProcessor #, Record, BloodDraw
from my_functions import display_summary_tables,display_value_counts_per_study, my_tableone, analyze_hgb, plot_variables_over_time

# ### Hip Pathway
load_dotenv()
api_url = os.getenv("REDCAP_URL")
api_key_pathway = os.getenv("REDCAP_HIP_PATHWAY_API_KEY")

p2 = RedcapProcessor(api_url, api_key_pathway)


df_pathway_original = p2.fetch_and_process()
df_pathway_demo=p2.get_all_demographics()
df_pathway_lab = p2.get_all_labs()
# df_pathway = p2.get_full_dataframe()

Data Fetched
Records Successfully Built!
********* This study has 33 patients ************

In [2]:
p2.get_demo('HPA-004')

                                                0
Study                                     Pathway
StudyID                                   HPA-004
Death                                          No
Withdrawn                                      No
Age                                            72
Sex                                          Male
BMI                                          31.8
Injury_date                   2024-02-19 10:00:00
Admission_date                         2024-02-19
Surgery_date                  2024-02-20 11:44:00
AO_OTA                                      31-B1
Treatment                             Arthoplasty
DVT                                            No
PE                                             No
VTE_type                                     None
VTE                                            No
comorb_diabetes                                No
comorb_cancer                                 Yes
comorb_cardiovascular                          No
comorb_pulmonary                               No
comorb_stroke                                  No
comp_pulmonary                                 No
comp_cardiovascular                            No
comp_infection                                 No
Pre_op_med                                   DOAC
total_blood_rbc                               0.0
blood_rbc_yn                                   No
time_injury_to_surgery_hours            25.733333

In [3]:
p2.get_draws('HPA-004')

,Study,StudyID,draw_group,Pre_op_med,Time,CAS,VTE,VTE_type,Draw_date_lab,time_injury_lab_hours,...,Alpha_Angle,MA,LY30,ACT,ADP-agg,ADP-inh,ADP-ma,AA-agg,AA-inh,AA-ma
0,Pathway,HPA-004,Admission,DOAC,Admission,NaN,No,NaN,2024-02-19 20:08:00,10.133333,...,75.8,62.6,0.0,87.9,56.7,43.3,41.9,94.2,5.8,59.4
1,Pathway,HPA-004,3M follow-up (±14 days),DOAC,Month3,NaN,No,NaN,NaT,NaN,...,74.9,61.7,0.0,97.3,82.6,17.4,53.1,90.0,10.0,56.8
2,Pathway,HPA-004,Post-Operative,DOAC,POD1,3.0,No,NaN,2024-02-21 02:26:00,40.433333,...,76.0,64.2,0.0,116.0,59.4,40.6,45.3,2.4,97.6,19.2
3,Pathway,HPA-004,Post-Operative,DOAC,POD3,4.0,No,NaN,2024-02-23 02:21:00,88.350000,...,79.4,68.3,0.0,87.9,73.1,26.9,56.8,19.2,80.8,33.0
4,Pathway,HPA-004,2wk follow-up (±3 days),DOAC,Week2,NaN,No,NaN,NaT,NaN,...,78.3,68.0,0.0,78.5,88.8,11.2,63.0,94.4,5.6,65.8
5,Pathway,HPA-004,4wk follow-up (±7 days),DOAC,Week4,NaN,No,NaN,NaT,NaN,...,77.2,66.0,0.0,87.9,85.4,14.6,58.3,91.3,8.7,61.3
6,Pathway,HPA-004,6wk follow-up (±7 days),DOAC,Week6,NaN,No,NaN,NaT,NaN,...,75.0,63.1,0.0,97.3,85.4,14.6,54.8,93.7,6.3,58.9

In [ ]:
df_pathway[['Injury_date','Draw_date_teg','Draw_date_lab','Surgery_date','time_injury_to_surgery_hours']]

In [ ]:
p2.get_draws('HPA-028')

In [ ]:
df_pathway[df_pathway['StudyID']=='HPA-028'][['Hemoglobin','Draw_date_lab','Time','time_injury_lab_hours','time_injury_teg_hours']]

In [ ]:
df_pathway[~df_pathway['time_injury_lab_hours'].isnull()&df_pathway['Time'].isnull()][['time_injury_lab_hours','time_injury_teg_hours']]

In [ ]:
p2.get_draws('HPA-028').dropna(subset=[ 'Time','Draw_id','MA','AA-ma','Creatinine'], how='all')

In [ ]:
load_dotenv()

### Teg-Femur
api_url = os.getenv("REDCAP_URL")
api_key_femur = os.getenv("REDCAP_TEG_FEMUR_API_KEY")

p3 = RedcapProcessor(api_url, api_key_femur)



df_femur_original = p3.fetch_and_process()
df_femur_demo=p3.get_all_demographics()
df_femur_lab = p3.get_all_labs()
df_femur = p3.get_full_dataframe()

In [ ]:
df_femur_demo[df_femur_demo['VTE']=="Yes"][['StudyID','VTE','DVT','PE','VTE_type','Treatment','Pre_op_med']].reset_index(drop=True)

In [ ]:
load_dotenv()

### Teg-Pelvis
api_url = os.getenv("REDCAP_URL")
api_key_pelvis = os.getenv("REDCAP_TEG_PELVIS_API_KEY")

p4 = RedcapProcessor(api_url, api_key_pelvis)

df_pelvis_original = p4.fetch_and_process()
df_pelvis_demo=p4.get_all_demographics()
df_pelvis_lab = p4.get_all_labs()
df_pelvis = p4.get_full_dataframe()

In [ ]:
df_pelvis_demo[df_pelvis_demo['VTE']=="Yes"][['StudyID','VTE','DVT','PE','VTE_type','Withdrawn','Death','Pre_op_med']].reset_index(drop=True)

In [ ]:
df_pelvis_original.head(20)[['StudyID','Draw_date_lab','Draw_date_teg', "Hemoglobin",'MA','Time','Injury_date','Pre_op_med']]

In [ ]:
df_pelvis_demo.head()[['StudyID','Surgery_date']]

In [ ]:
ALL_TEG_DEMO=pd.concat([df_hip_demo,df_pathway_demo,df_femur_demo,df_pelvis_demo])
ALL_TEG_DEMO.to_excel('ALL_TEG_DEMO.xlsx', index=False)

In [ ]:
ALL_TEG_BLOOD=pd.concat([all_blood_hip,all_blood_pathway,all_blood_femur,all_blood_pelvis])
ALL_TEG_BLOOD.to_excel('ALL_TEG_BLOOD.xlsx', index=False)

In [ ]:
ALL_TEG_BLOOD['VTE']

In [ ]:
ALL_TEG=pd.merge(ALL_TEG_DEMO,ALL_TEG_BLOOD.drop(columns=['Injury_date','Surgery_date','Pre_op_med','Study','VTE','VTE_type','PE','DVT']), on=['StudyID'], how='outer', indicator=True).drop_duplicates(keep='first')
ALL_TEG.to_excel('ALL_TEG.xlsx', index=False)

In [ ]:
ALL_TEG.columns

In [ ]:
display_summary_tables(ALL_TEG, filter_col='VTE', extra_col='VTE_type')

In [ ]:
display_summary_tables(ALL_TEG, filter_col='Death')

In [ ]:
display_summary_tables(ALL_TEG, filter_col='Withdrawn')

In [ ]:
display_value_counts_per_study(ALL_TEG_DEMO, 'VTE')

In [ ]:
display_value_counts_per_study(ALL_TEG_DEMO, 'Pre_op_med')

In [ ]:
display_value_counts_per_study(ALL_TEG_DEMO, 'Sex')

In [ ]:
display_value_counts_per_study(ALL_TEG_DEMO, 'AO_OTA')

In [ ]:
display_summary_tables(ALL_TEG, filter_col='blood_rbc_yn')

In [ ]:
display_value_counts_per_study(ALL_TEG_DEMO, 'blood_rbc_yn')

In [ ]:
display(ALL_TEG[ALL_TEG['injury_to_lab_hrs']<0][['StudyID','Time','Injury_date','Draw_date_lab','Draw_date_teg','injury_to_lab_hrs','injury_to_teg_hrs','surgery_to_lab_hrs','surgery_to_teg_hrs']])

# Duploicate ERRORS

In [ ]:
ALL_TEG[ALL_TEG.duplicated(subset=['StudyID','Time'])][['StudyID','Time','MA']]

In [ ]:
df_demo=pd.concat([df_hip_demo,df_pathway_demo]).reset_index(drop=True)


df_demo_oac = df_demo[df_demo['Pre_op_med'].isin(['DOAC','Warfarin']) ]
df_blood_draws = pd.concat([p1.get_all_blood_draws(), p2.get_all_blood_draws()]).drop_duplicates().reset_index(drop=True)

# ONLY DOAC - Hemoglobin drop

In [ ]:
df_blood_draws_oac = df_blood_draws[df_blood_draws['StudyID'].isin(df_demo_oac['StudyID'])]

In [ ]:
df_blood_draws_oac

In [ ]:
analyze_hgb(df_blood_draws_oac, pod_time="POD1")

In [ ]:
analyze_hgb(df_blood_draws_oac, pod_time="POD3")

In [ ]:
# df_blood_draws[df_blood_draws['Time']=='Week2'].sort_values('StudyID')

In [ ]:
df_blood_draws.head()

In [ ]:
df_blood_draws[df_blood_draws['Time'].isin(['Admission','Pre-Op','PFD1','Pre-Op','PFD2','4 hr Pre-OP','Pre-draw','PFD3','PFD4'])].head(10)

## Created two columns to pick depending on if we want pre-op closest to injury or if we want pre-op closest to surgery

In [ ]:
preop_timepoints = ['Admission','Pre-Op','PFD1','Pre-Op','PFD2','4 hr Pre-OP','Pre-draw','PFD3','PFD4']

# Initialize new columns
df_blood_draws['closest_to_injury'] = 'No'
df_blood_draws['closest_to_surgery'] = 'No'


columns_to_check = ['R_time', 'K_time', 'MA', 'LY30', 'ACT','Alpha_Angle']

for patient_id, group in df_blood_draws.groupby('StudyID'):
    preop_draws = group[group['Time'].isin(preop_timepoints)].copy()
    
    if not preop_draws.empty:
        # Filter out draws where all columns are NaN
        valid_draws = preop_draws.dropna(subset=columns_to_check, how='all')
        
        if not valid_draws.empty:
            # Closest to injury
            closest_idx = valid_draws['injury_to_lab_hrs'].idxmin()
            df_blood_draws.loc[closest_idx, 'closest_to_injury'] = 'Yes'
            
            # Closest to surgery
            farthest_idx = valid_draws['injury_to_lab_hrs'].idxmax()
            df_blood_draws.loc[farthest_idx, 'closest_to_surgery'] = 'Yes'
        else:
            # If all draws are invalid, fallback to first/last pre-op draw
            df_blood_draws.loc[preop_draws.index[0], 'closest_to_injury'] = 'Yes'
            df_blood_draws.loc[preop_draws.index[-1], 'closest_to_surgery'] = 'Yes'
            
# # Loop over each patient
# for patient_id, group in df_blood_draws.groupby('StudyID'):
#     preop_draws = group[group['Time'].isin(preop_timepoints)].copy()
    
#     if not preop_draws.empty:
#         # Closest to injury
#         if preop_draws['time_from_injury_to_draw_hours'].notna().any():
#             closest_idx = preop_draws['time_from_injury_to_draw_hours'].idxmin()
#         elif (preop_draws['Time'] == 'Admission').any():
#             closest_idx = preop_draws[preop_draws['Time'] == 'Admission'].index[0]
#         else:
#             # Fallback: just take the first pre-op draw
#             closest_idx = preop_draws.index[0]
#         df_blood_draws.loc[closest_idx, 'closest_to_injury'] = 'Yes'
        
#         # Closest to surgery (farthest from injury)
#         if preop_draws['time_from_injury_to_draw_hours'].notna().any():
#             farthest_idx = preop_draws['time_from_injury_to_draw_hours'].idxmax()
#         elif (preop_draws['Time'] == 'Admission').any():
#             farthest_idx = preop_draws[preop_draws['Time'] == 'Admission'].index[0]
#         else:
#             # Fallback: just take the last pre-op draw
#             farthest_idx = preop_draws.index[-1]
#         df_blood_draws.loc[farthest_idx, 'closest_to_surgery'] = 'Yes'

# Update 'Time' for closest to injury
df_blood_draws['Time'] = np.where(
    df_blood_draws['closest_to_injury'] == 'Yes',
    'Pre_op',
    df_blood_draws['Time'])

In [ ]:
# df_blood_draws[df_blood_draws['StudyID']=='TH-137']

In [ ]:
df_blood_draws[df_blood_draws['closest_to_injury']=='Yes'].head()

In [ ]:
columns = ['Sex', 'Age', 'BMI','VTE_type','VTE']
groupby = 'Pre_op_med'
categorical = ['Sex','VTE_type','VTE']

nonnormal=['BMI'] 
display(TableOne(df_demo, columns=columns, categorical=categorical, nonnormal=nonnormal, groupby=groupby))

In [ ]:
columns = ['R_time', 'K_time',  'MA', 'LY30', 'ACT','Alpha_Angle'] 
groupby = 'Pre_op_med'
categorical = []


for timepoint in ['Pre_op','POD1', 'POD3', 'POD5', 'POD7', 'Week2', 'Week4', 'Week6', 'Month3']:
    print(timepoint)
    print('++++++++++++++++++++++++++++++++++++++++++++')
    df=df_blood_draws[df_blood_draws['Time']==timepoint]


    

    nonnormal=[ 'R_time', 'K_time',  'MA', 'LY30', 'ACT','Alpha_Angle'] 
    display(TableOne(df, columns=columns, categorical=categorical, nonnormal=nonnormal, groupby=groupby))

In [ ]:
df_blood_draws.columns

In [ ]:
for col in columns:
    df_blood_draws[col] = pd.to_numeric(df_blood_draws[col], errors='coerce')

    
plot_variables_over_time(df_blood_draws,
                         hue='VTE', 
    style='VTE',
    palette={'Yes':"#ff3636", 'No':"#030303"},
    # var_labels=var_labels,
    xlabel="Timepoints",
)

In [ ]:
df_blood_draws[(df_blood_draws['StudyID']=='TH-190')&(df_blood_draws['Time']=='Pre_op')][['Time','LY30','Pre_op_med']]

In [ ]:
display(all_blood_hip[all_blood_hip['StudyID']=='TH-188'][['Time','LY30']])